@import 'src/mixins';

@import 'src/constants';

.subtitle {
  color: $grey-2;
}

.venue_container {
  @include flex-row;
  flex-wrap: wrap;
  padding-top: 1em;
  gap: 1em;
}

.venue_box {
  @include shadow-light;
  border-radius: .4em;
  border: 1px solid $grey-3;
  overflow: hidden;
  min-width: 16em;
  max-width: 16em;
}

.venue_header {
  padding: .5em 1em;
  background-color: $blue;
  font-size: 1.25em;
  font-weight: 700;
  color: $white;
}

.venue_content {
  padding: 1em;
}

.input_row {
  @include flex-row;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: .5em;
}

.day_row {
  @include flex-row;
  justify-content: space-between;
  width: 100%;
}

.day_label {
  color: $grey-1;
}

.day_edit {
  @include flex-row;
  gap: .5em;
}

.invalid {
  border: 2px solid red;
}
