@use '~/mixins' as *;

@use '~/constants' as *;

.row {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-top: 1em;
  gap: 1em;
  @include for-tablet-up {
    flex-direction: row;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
