@import 'src/constants';

.button {
  cursor: pointer;
  transition: 0.1s;
  color: white;
  background: none;
  border: none;
  &:hover {
    .icon {
      transform: scale(1.1);
      transform-origin: 50% 50%;
    }
  }
}
