@import 'src/constants';

@import 'src/mixins';

$toast-bg-color: $turquoise-deep;

.toast {
  @include shadow-light;
  width: 300px;
  color: $white;
  background-color: $red-samf;
  border-radius: 1em;
  padding: 1em 1em 0em 1em;
  max-height: 400px;
  margin-bottom: 1em;
}

.toast_hidden {
  animation: toast-hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes toast-hide {
  0% {
    max-height: 400px;
  }
  50% {
    max-height: 400px;
    padding: 1em 1em 0em 1em;
    max-height: 400px;
    margin-bottom: 1em;
    opacity: 0;
  }
  100% {
    max-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}

.inner {
  position: relative; // Let .btn_close position relative to this.
}

.title {
  font-weight: 500;
  font-size: 1.2em;
  margin-right: 35px; // Prevent overflowing with .close_btn.
  overflow-wrap: break-word;
}

.message {
  margin: 1em 0;
}

.btn_bar {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.btn_close {
  position: absolute; // Relative to .inner.
  top: -10px; // Negate .wrapper padding.
  right: -7px; // Negate .wrapper padding.
  cursor: pointer;
  padding: 5px 7px; // More clickable area.
  border-radius: 9999px;
  font-size: 1.3em;
  border: unset;
  color: $white;
  background-color: unset;

  &:hover,
  :focus {
    /* stylelint-disable-next-line function-no-unknown */
    background-color: darken($color: $red-samf, $amount: 10);
  }
}
