@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  padding-bottom: 0;
  aspect-ratio: 16/9;
}
