@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  box-sizing: border-box;
  margin: 2rem;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:2rem;
}
