@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.video {
  padding-bottom: 0;
  aspect-ratio: 16/9;
  border-width: 0;
}

.close {
  position: absolute;
  top: 1em;
  right: 1em;
}
