
@import 'src/constants';

@import 'src/mixins';

.row {
  @include flex-row;
  background-color: $grey-3;
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid $grey-2;
  &:hover { 
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
}

.table {
  border-right: 1px solid $black;
  height: 100%;
  margin:0;
  width: 3em;
}

.tableText {
  font-size: 1em;
}

.time {
  height: 100%;
  margin-right: -1px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.timeText {
  font-size: 0.8em;
  font-weight: 200;
  text-align: right;
}

.tableInfo {
  width: 10em;
  background-color: black;
  color: $white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.hidden {
  display: none;
}
