@import 'src/mixins';
@import 'src/constants';

.wrapper {
  margin: 1em 1em;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.backButton {
  border-color: $grey-1;
  padding: 0.5em 1.6em;
  text-transform: uppercase;
  p {
    margin: 0;
    font-weight: 700;
  }
}

.applets {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tableHeader {
  background-color: $red-samf;
  color: $white;
  text-align: left;
  row-gap: 0;
  padding: 0;
  th {
    padding:0.6em;
    font-size: 1.2em;
    font-weight: 300;
  }
}

.samfTable {
  width: 100%;
  border-collapse: collapse;
  tr:nth-child(even) {
    background-color: $grey-3;
  }
  tr:nth-child(odd) {
    background-color: $grey-5;
  }
  td {
    font-size: 1em;
    font-weight: 300;
    padding: 0.5em;
  }
}

