@import 'src/constants';
@import 'src/mixins';

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  min-width: 100%;
  min-height: calc(100vh - 200px);
}

.content_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 500px;
  width: calc(100%);
  margin: 0 1em;
  background-color: $white;
  text-transform: uppercase;
}

.header_text {
  text-align: center;
  font-size: 1.8em;
}

.input_field {
  display: block;
  width: calc(100%);
  margin-bottom: 0.8em;
}

.login_button {
  width: 100%;
  font-size: 1em;
}

.forgotten_password {
  color: $red-samf;
  text-align: center;
  margin-top: 0.4em;
  font-size: 0.8em;
}
