@import 'src/constants';

.container {
  background-color: $white;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openingHoursText {
  margin: 0 0.2em;
}
