@use 'src/styles/colors' as c;

@use 'src/styles/variables' as v;

@use 'src/mixins' as m;

.container {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include m.theme-dark {
    background-color: v.$primary-dark-bg;
    color: c.$white-500;
  }
}

.tableCell {
  @include m.theme-dark {
    border-left: 0;
    border-right: 0;
  }
}

.openingHoursText {
  margin: 0 0.2em;
}

.closedBox {
  border: 2px c.$samf-red-primary solid;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
