/* stylelint-disable declaration-no-important */
@import 'src/constants';

.button {
  border: none;
  cursor: pointer;
  border-radius: 0.25em;
  transition: 0.15s;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
  text-decoration: none;

  &:hover {
    filter: brightness(120%);
    transition: 0.15s;
    box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
}

.button_basic {
  background-color: $sulten-orange;
  color: white;
  font-size: 1em;
  font-weight: 700;
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-radius: 100px;
}
