/* stylelint-disable declaration-block-no-duplicate-properties */

@import 'src/mixins';

@import 'src/constants';

.header {
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
  margin-left: .5em;
}

.inner_header {
  font-size: 1.5em;
  font-weight: 700;
}

.outer_container{
  @include flex-row;
  align-items: stretch;
  flex-direction: column;
  gap: 1em;
}

.form_container {
  width: 100%;
}

.tab_label {
  @include flex-row;
  flex: 1;
  gap: 1em;
}

.done {
  color: $green;
}

.error {
  color: $red;
}

.tab_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input_row {
  @include flex-row;
  gap: 1.5em;
  @include for-mobile-only {
    flex-direction: column;
  }
  // Ensure children elements stretch to fit entire row
  /* stylelint-disable-next-line selector-max-universal */
  & > * {
    flex: 1;
  }
}

.half {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.button_row {
  @include flex-row;
  justify-content: space-between;
  justify-content: space-between;
  margin-top: 1.5em;
}

.preview {
  @include flex-row-center;
  align-items: center;
  gap: 2em;
}

.previewText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 3.75em;
  gap: .5em;
}
