.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    padding: 1em;
    border-radius: 0.5em;
  }
}

.about {
  display: flex;
  flex-direction: row;
}

.aboutText {
  padding: 1em;
  > * {
    margin: 0.5em;
    border-radius: 0.5em;
  }
}

.runderode {
  background-color: bisque;
  width: 40em;
  height: 26em;
  border-radius: 1em;
}

.venues {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  row-gap: 2em;
  align-items: center;

  > *:first-child {
    width: 100%;
    text-align: center;
  }

  > * {
    width: 20%;
    border-radius: 0.5em;
    text-align: center;
    transition: 1s;
  }

  > *:hover {
    transform: scale(1.1);
  }
}

.venueImg {
  width: 12em;
  height: 12em;
  border-radius: 50%;
}

.mapButton {
  > * {
    border-radius: 0.5em;
    margin: 0.5em;
  }
}

.samfundsmote {
  width: 95%;
  box-shadow: 0.25em 0.25em 0.25em 0.25em lightgray;
  > * {
    margin: 0.5em;
    border-radius: 0.5em;
  }
}

.moreInfo {
  display: flex;
  flex-direction: row;
  > * {
    margin: 0.5em;
  }
}

.volunteer {
  background-color: #27ae60;
  border-radius: 1em;
  padding: 1em;
  > * {
    margin: 0.5em;
    border-radius: 0.5em;
  }
}

.moreInfoRight {
  display: flex;
  flex-direction: column;
  > * {
    border-radius: 1em;
  }
}

.festival {
  height: 50%;
  border-style: solid;
  border-color: grey;
  border-width: 0.01em;
  margin-bottom: 1em;
  > * {
    margin: 0.5em;
    border-radius: 0.5em;
  }
}

.otherInfo {
  background-color: #a03033;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  padding: 1em;
  > *:first-child {
    width: 100%;
  }
  > * {
    width: 49%;
    border-radius: 0.5em;
    margin: 0.5%;
  }
}

.splash {
  background-color: red;
  width: 46em;
  margin: 0;
  height: 11em;
}
