@import 'src/mixins';

@import 'src/constants';

.box {
  border: 1px solid $grey-4;
  box-shadow: 3px 1px 10px 1px $black-t10;
  border-radius: 0.3em;
}

.uka_isfit {
  border: 1px solid $grey-4;
  padding: 1em;
  border-radius: 0.3em;
  flex: 1;
  margin: 0.5em;
  box-shadow: 3px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.other_info {
  border: 1px solid $grey-4;
  padding: 1em;
  border-radius: 0.3em;
  margin: 0.5em;
  box-shadow: 3px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.header {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.header2 {
  font-weight: 700;
  font-size: 2.5em;
  margin-top: 1em;
  text-align: center;
}

.header_col {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}

.button {
  margin-right: 0.5em;
  margin-bottom: 0.3em;
}

.buttonTable {
  display: grid;
  grid-template-columns: auto auto;
}

.tableButton {
  margin: 0.2em 0.5em;
  font-size: 1em;
}

.text {
  font-weight: 100;
  font-size: 1.15em;
  margin-bottom: 1em;
}

.runderode {
  width: 23em;
  height: auto;
  border-radius: 0.3em;

  @include for-tablet-up {
    width: 35em;
    height: 24em;
  }
}

.textBox {
  padding: 1.5em;
}

.row {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  max-width: $desktop-bp-upper;
  justify-content: center;
  flex-wrap: wrap;

  @include for-tablet-up {
    flex-direction: row;
  }
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image_box {
  box-shadow: 3px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid $grey-4;
  background-color: $green;
  border-radius: 0.3em;
  color: white;
  margin: 0.5em;

  @include for-tablet-up {
    flex-basis: 55%;
  }
}

.splash {
  width: 100%;
  height: 6em;
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;

  @include for-tablet-up {
    width: 100%;
    height: 12em;
  }
}
