@import 'src/mixins';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  flex-direction: column;
}

.about {
  width: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  max-width: $desktop-bp-upper;
  justify-content: center;
  align-items: center;

  @include for-tablet-up {
    flex-direction: row;
    margin: 2em;
  }
}

.button {
  margin: 0.5em;
}

.about_text {
  padding: 1em;
}

.runderode {
  width: 23em;
  height: 16em;
  border-radius: 1em;

  @include for-tablet-up {
    width: 35em;
    height: 24em;
  }
}

.samfundsmote {
  box-shadow: 0.25em 0.25em 0.25em 0.25em lightgray;
  border-radius: 0.5em;
  padding: 1em;
  width: 20em;
  max-width: $desktop-bp-upper;
  @include for-tablet-up {
    width: 72em;
  }
}

.venues {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  row-gap: 2em;
  align-items: center;
  padding: 1em;
  border-radius: 0.5em;
  max-width: $desktop-bp-upper;
}

.venue_text {
  width: 100%;
  text-align: center;
}

.venue_box {
  width: 50%;
  text-align: center;

  @include for-tablet-up {
    width: 20%;
    text-align: center;
  }
}

.venue_img {
  width: 8em;
  height: 8em;
  border-radius: 50%;

  &:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  @include for-tablet-up {
    width: 12em;
    height: 12em;
  }
}

.more_info {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: $desktop-bp-upper;

  @include for-tablet-up {
    flex-direction: row;
    margin: 2em;
  }
}

.volunteer {
  background-color: #27ae60;
  border-radius: 1em;
  width: 23em;
  color: white;
  margin-bottom: 1em;

  @include for-tablet-up {
    width: 48em;
    height: 31em;
    margin-right: 1em;
  }
}

.splash {
  width: 100%;
  height: 6em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;

  @include for-tablet-up {
    width: 100%;
    height: 12em;
  }
}

.volunteer_text {
  margin: 1em;
}

.more_info_right {
  display: flex;
  flex-direction: column;
  width: 23em;
}

.festival {
  height: 62%;
  border-style: solid;
  border-color: grey;
  border-width: 0.01em;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

.other_info {
  background-color: #eeeeee;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0.01em;
  display: flex;
  flex-wrap: wrap;
  height: 38%;
  padding: 0.5em;
  border-radius: 1em;
}

.info_text {
  width: 100%;
  margin-bottom: 1em;
}

.button_info {
  width: 26em;
  height: 2.5em;
  margin: 0.3em;

  @include for-tablet-up {
    width: 12em;
    margin: 0.2em;
    margin-left: 0.8em;
  }
}
