@import 'src/mixins';

.box {
  border: 1px solid $grey-2;
  box-shadow: 3px 1px 3px 1px $grey-2;
  border-radius: 0.3em;
}

.box2 {
  border: 1px solid $grey-2;
  padding: 1em;
  border-radius: 0.1em;
}

.other_info {
  border: 1px solid $grey-2;
  // background-color: $grey-4;
  padding: 1em;
  border-radius: 0.1em;
  margin-top: 0.1em;
}

.header {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.header2 {
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.other_info_header {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}

.button {
  margin-right: 0.5em;
  margin-bottom: 0.3em;
}

.buttonTable {
  display: grid;
  grid-template-columns: auto auto;
}

.tableButton {
  margin: 0.2em 0.5em;
  font-size: 1em;
}

.text {
  font-weight: 100;
  font-size: 1.15em;
  margin-bottom: 1em;
}

.runderode {
  width: 23em;
  height: auto;
  border-radius: 0.3em;

  @include for-tablet-up {
    width: 35em;
    height: 24em;
  }
}

.textBox {
  padding: 1.5em;
}

.row {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  max-width: $desktop-bp-upper;
  justify-content: center;
  align-items: center;

  @include for-tablet-up {
    flex-direction: row;
    align-items: flex-start;
  }
}

.col {
  flex: 1;
}

.image_box {
  background-color: $green;
  border-radius: 0.1em;
  width: 23em;
  color: white;
  margin-bottom: 1em;
  @include for-tablet-up {
    width: 48em;
    height: 31em;
    margin-right: 1em;
  }
}

.splash {
  width: 100%;
  height: 6em;
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;

  @include for-tablet-up {
    width: 100%;
    height: 12em;
  }
}
