/* stylelint-disable declaration-no-important */
@import 'src/constants';

@import 'src/mixins';

.container {

}

.timespan_line {
  flex-direction: row;
  display: flex;
  background-color: $grey-2;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.05);
  padding: 0.2em;
  margin-bottom: 0.4em;
  
}
.timespan_field {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
