@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  @mixin for-tablet-only {
    width: 100%;
  }
}

.header {
  display:block;
}

.occupied_container  {
  margin-top: 1.2em;
}
