@import "src/constants.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.image {
  max-width: 60vw;
  background-size: cover;
}

.text {
  margin-top: 1em;
  max-width: 200px;
  text-align: center;
  color: $grey-3;
}

.button_text {
  color: black;
}
