version: '3.9'

services:
  # docker syntax

  # Custom name for our service (container to build)
  backend:
    build: ./backend # Build in the context of this directory (meaning: use Dockerfile, .dockerignore etc.)
    volumes:
      - ./backend:/app
      - ignore_venv:/app/.venv
        # - ./backend/samfundet:/app/samfundet # Share project code between host machine and container to enable reload on changes.
        # - ./backend/root:/app/root # Share project code between host machine and container to enable reload on changes.
        # - ./backend/manage.py:/app/manage.py # Share project code between host machine and container to enable reload on changes.
    env_file:
      - ./backend/.docker.env
    environment:
      - IS_DOCKER=True
    ports:
      - '8000:8000' # Quotes are required. django
      - '5678:5678' # Quotes are required. debugpy

  # Mount sync on OSX Docker VM is really slow. Run on host machine instead.
  frontend:
    build: ./frontend
    image: samfundet-frontend
    volumes:
      - ./frontend/src:/app/src # Share project code between host machine and container to enable reload on changes.
    env_file:
      - ./frontend/.env.docker
    environment:
      - IS_DOCKER=true
      - CHOKIDAR_USEPOLLING=true # Might not be needed. Used for hot reload.
      - VITE_GOATCOUNTER_CODE=samfundet-dev2
      - VITE_BACKEND_DOMAIN=http://backend:8000
      - CYPRESS_BASE_URL=http://frontend:3000
    ports:
      - '3000:3000'

volumes:
  ignore_venv:
