@use 'src/mixins' as *;

@use 'src/constants' as *;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5em;
}

.image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.event_image {
  height: 45vh;
  margin: 0;
  object-fit: cover;
  border-bottom-right-radius: 0.10rem;
  border-bottom-left-radius: 0.10rem;
}

.content_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.info_list {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
  margin: 0 1rem 0 1rem;
}

.description_short {
  margin-bottom: 0;
}

.text_short {
  font-weight: 700;
}

.description_long {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 50em;
}

.expandable_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  padding: 0 0.15rem 0 0.25rem;
  border: 1px solid $black;
  border-radius: 2rem;
}

.admin_panel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 15px 0 10px 0;
  color: white;
}
