@import 'src/mixins';

@import 'src/constants';

.container {
  width: 100%;
  height: 100%;
  padding-bottom: 5em;
}

.content_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40em;
  margin: 0 auto;
  gap: 2em;
}

.text_title {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.info_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0;
  padding: 1em;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.description_short {
  margin-bottom: 2em;
}

.text_short {
  font-weight: 700;
}

.description_long {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 50em;
}
