@import 'src/constants';

// Needed to display component properly.
// This is also set in global.scss.
// Added here because global.scss is not included in storybook preview.
/* stylelint-disable-next-line selector-max-universal */
* {
  box-sizing: border-box;
}

$switch-width: 2.5rem;
$switch-height: 1.5rem;

$switch-color: $grey-2;
$switch-color-checked: $red-samf;
$focus-box-shadow: 0 0 0 2px rgba($switch-color-checked, 0.5);
$toggle-transition: 0.2s ease;
$ball-color: $white;
$ball-size: calc($switch-height - (0.125rem * 2));
$track-padding: calc(($switch-height - $ball-size) / 2);

.label {
  margin-bottom: 0; // TODO: Can be removed once label's margin-bottom is removed from global.scss
}

.toggle_switch {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.track {
  cursor: pointer;
  width: $switch-width;
  height: $switch-height;
  background-color: $switch-color;
  border-radius: $switch-height;
  position: relative;
  transition: background-color $toggle-transition;
}

.ball {
  width: $ball-size;
  height: $ball-size;
  background-color: $ball-color;
  position: absolute;
  top: $track-padding;
  left: $track-padding;
  border-radius: 50%;
  transition: transform $toggle-transition;
}

// Styling on track when toggle_switch is checked.
.toggle_switch:checked + .track {
  background-color: $switch-color-checked;

  /* stylelint-disable-next-line */
  .ball {
    transform: translateX($switch-width - $ball-size - ($track-padding * 2));
  }
}

.toggle_switch:focus + .track {
  box-shadow: $focus-box-shadow;
}

.toggle_switch:disabled + .track {
  cursor: not-allowed;
}
