@use '~/constants' as *;

@use '~/mixins' as *;

.form {
  width: 100%;

  @include for-desktop-up {
    width: 400px;
  }
}

.action_row {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}
