# Secret key for encryption. (required)
# Replace with random string in production.
SECRET_KEY=NOT SET

# Dotted path to django settings. (required)
DJANGO_SETTINGS_MODULE=backend.root.settings 

# Set environment (required)
# See backend.root.constants.Environment
ENV=development

# Superuser admin credentials. (optional)
# Automatically create local superuser.
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=Django123
DJANGO_SUPERUSER_EMAIL=admin@example.com

# Sets which domain is allowed in ALLOWED_HOSTS. (required)
DOMAIN=localhost

### DATABASE ###
# Only relevant for postgres in production.
DB_NAME=...
DB_USER=...
DB_PASSWORD=...
DB_HOST=...
DB_PORT=5432
