[flake8]
# Same as pylint and yapf
max-line-length = 160

extend-exclude=
    .git,
    .pytest_ignore,
    __pycache__,
    venv,
    .venv,

extend-ignore=
    E266,

# Disable individual lines with comment, example: "print(1) # noqa"

# List of rules:
# https://lintlyci.github.io/Flake8Rules/
