[flake8]
# Same as pylint and yapf
max-line-length = 160

extend-exclude=
    .git,
    .pytest_ignore,
    __pycache__,
    venv,
    .venv,
    tests,
    migrations,
    root/scripts/testing.py,

extend-ignore=
    E266,
    ANN101,
    ANN001,
    ANN201,
    ANN102,
    ANN002,
    ANN003,

# ANN101: Don't require typing of self. (flake8-annotations)
# ANN001: Covered by mypy. (flake8-annotations)
# ANN201: Covered by mypy. (flake8-annotations)
# ANN102: Don't require typing of cls. (flake8-annotations)
# ANN002: Don't require typing of *args. (flake8-annotations)
# ANN00: Don't require typing of **kwargs. (flake8-annotations)

# Disable individual lines with comment, example: "print(1) # noqa"

# List of rules:
# https://lintlyci.github.io/Flake8Rules/
