[flake8]

# NOTES:
# Do not use inline comments (on the same line after some configuration).
# This is not supported

# Version is downgraded from 6.0.0 to allow plugins to catch up with breaking changes.
# TODO: upgrade later.

# Same as yapf.
max-line-length = 160
require-plugins = flake8-print, flake8-quotes, flake8-annotations
# require-plugins = flake8-print, flake8-keyword-arguments, flake8-quotes, flake8-annotations

# Ignore specific errors in specific files (glob pattern).
# Format: <some/*/glob/**/pattern.txt>:<error>
# Example: root/urls.py:T201
per-file-ignores = 
    # Don't care about print statements in commands.
    **/management/commands/**:T201,
    # urls.py are allowed positional arguments because the alternative is cluttering.
    **/urls.py:FKA01,


# Terminal and VSCode triggers flake8 differently. They ignore certain patterns in this list.
# Exclude both folder and all files within for expected results.
# Works for VSCode: **/<folder>/** 
# Doesn't work for VSCode: **/<folder>/**/*
extend-exclude=
    .git, **/.git/**,
    .pytest_ignore, **/.pytest_ignore/**,
    .history, **/.history/**, # Local History VSCode extensions.
    venv, **/venv/**,
    .venv, **/.venv/**,
    migrations, **/migrations/**,
    root/scripts/testing.py,

extend-ignore=
    E266,
    ANN101, # Don't require typing of self. (flake8-annotations)
    ANN001, # Covered by mypy. (flake8-annotations)
    ANN201, # Covered by mypy. (flake8-annotations)
    ANN102, # Don't require typing of cls. (flake8-annotations)
    ANN002, # Don't require typing of *args. (flake8-annotations)
    ANN003, # Don't require typing of **kwargs. (flake8-annotations)
    F841,
    E303,

# Disable individual lines with comment, example: "print(1) # noqa"

# List of rules:
# https://lintlyci.github.io/Flake8Rules/


# [flake8-keyword-arguments]
# max-pos-args = 0
