[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
django-extensions = "*"
django-environ = "*"
djangorestframework = "*"
django-cors-headers = "*"
dataclasses-json = "*"
django-guardian = "*"
pillow = "*"
debugpy = "*"
gunicorn = "*"
django-admin-autocomplete-filter = "*"
pytz = "*"

[dev-packages]
yapf = "*"
pylint = "*"
pylint-django = "*"
pylint-quotes = "*"
mypy = "*"
bandit = "*"
pillow = "*"
flake8 = "~=5.0"
flake8-annotations = "*"
flake8-keyword-arguments = "*"
flake8-print = "*"
flake8-quotes = "*"

[requires]
python_version = "3.11.0" # from .python-version
