[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
django-extensions = "*"
django-environ = "*"
djangorestframework = "*"
django-cors-headers = "*"
dataclasses-json = "*"
django-guardian = "*"

[dev-packages]
yapf = "*"
pylint = "*"
pylint-django = "*"
pylint-quotes = "*"
mypy = "*"
bandit = "*"
flake8 = "*"
flake8-annotations = "*"

[requires]
python_version = "3.11.0" # from .python-version
