@import 'src/constants';

@import 'src/mixins';

.select_wrapper {
  //label som wrapper
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.samf_select {
  
  @include rounded;
  display: flex;
  font-size: 1em;
  padding: 1em 1em;
  color: $black;
  cursor: pointer;
  border: 0;
  outline: none;
  padding-right: 3em;
  appearance: none; //appearance "none" i flere browsere
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  overflow-y: auto;
  margin-top: 0.5em;

  &:hover {
    filter: brightness(110%);
  }

}

.error {
  border: 1px solid $red;
}

.arrow_container {
  position: relative;
  max-height: 0;
  max-width: 0;
  top: -2.4em;
  left: calc(100% - 2em);
  margin-right: 0.2em;
  pointer-events: none;
}

.arrow {
  width: 1.5em;
  height: 1.5em;
}

