@use '../../mixins' as m;

@use '../../styles/colors' as col;

@use '../../styles/variables' as v;

.italic {
  font-style: italic;
  font-family: v.$font-family-italic;
}

.select_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.samf_select {
  @include m.base-input;
  display: flex;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  cursor: pointer;
  appearance: none; // Hide default browser dropdown arrow
}

.arrow_container {
  position: relative;
  max-height: 0;
  max-width: 0;
  top: -2.1em;
  left: calc(100% - 2em);
  margin-right: 0.2em;
  pointer-events: none;
}

.arrow {
  width: 1.5em;
  height: 1.5em;
}
