@import 'src/constants';

.dropdown_samf{
  border: none;
  padding: 10px 25px;
  color: black;
}

.dropdown_secondary{
  border: none;
  padding: 10px 25px;
  color:black;
  background-color: white;
}
