@import 'src/constants';

.samf_select {
  background: $red-samf;
  font-size: 1.15rem; //root element font størrelse. Skalert etter HTML dokumentets font størrelse
  padding: 1em 3.5em 1em 0.5em;
  color: white;
  border: 0;
  cursor: pointer;
}
.samf_select option {
  border-radius: 0;
  padding: 50px;
  pointer-events: none;
}
