@import 'src/mixins';

@import 'src/constants';

.contactContainer {
  width: 75vw;
  height: 75vh;
  @include flex-row-center;
  gap: 4rem;
  overflow: hidden;
  color: $white;
  margin: calc($sulten-navbar-height/4) 0 calc($sulten-navbar-height/4) 0; //this looked the best

  @include for-mobile-down {
    @include flex-column-center;
    margin-top: $sulten-navbar-height;
    height: 50%;
    width: 100%;
    gap: 1em;
  }
}

.lycheContactTitle {
  font-size: 2em;
  font-weight: 600;
}

.lycheContactText {
  width: 100%;
  text-align: center;
}

.textContainer {
  width: 50%;
  height: 100%;
  @include flex-column-center;
  gap: 1rem;
  @include for-mobile-down {
    width: 100%;
  }
}

.lycheMapContainer {
  width: 50%;
  height: 75%;
  overflow: hidden;
  border-radius: 1.5em;
  @include for-mobile-down {
    width: 100%;
    height: 60vh;
  }
}

.lycheStreet {
  height: 100%;
  width: 100%;
  border: none;
}

.contactAddress {
  color: $sulten-orange;
}

.lycheSocialsContainer {
  @include flex-row-center;
}

.icon {
  margin: 0.5rem;
}
