@import 'src/constants';
@import 'src/mixins';

.dot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 10px;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 5%;
}
