@use 'src/mixins' as *;

@use 'src/constants' as *;

$form-col-width: 260px;

.action_row {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.container {
  display: grid;
  gap: 2rem;
  margin-top: 1rem;

  @include for-desktop-up {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
}

.preview {
  @include for-large-desktop-up {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}

.form_grid {
  @include for-large-desktop-up {
    display: grid;
    grid-template-columns: repeat(2, $form-col-width);
    gap: 0.5rem 1rem;

    > *:last-child {
      grid-column: span 2;
    }
  }
}

.interval_input {
  @include for-large-desktop-up {
    width: $form-col-width;
  }
}
