@use '../../styles/colors' as c;

.preview_container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.preview_wrapper {
  position: relative;
}

.preview {
  max-height: 8rem;
  max-width: 100%;
  width: auto;
  height: auto;
}

.remove_button {
  cursor: pointer;
  width:  1.5rem;
  height: 1.5rem;
  background-color: c.$red-600;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  top: -0.5rem;
  left: -0.5rem;
  position: absolute;
}
