@use 'src/constants' as *;

@use 'src/mixins' as *;

.layout {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 1em auto;
  width: $primary-content-width-wide;
  max-width: $primary-content-width-wide-padded;

  @include for-mobile-only {
    max-width: 100%;
  }

  &:hover {
    .crud_buttons {
      opacity: 1;
      right: 1rem;
    }
  }
}

.crud_buttons {
  top: 1rem;
  right: -1rem;
  position: absolute;
  opacity: 0%;
  z-index: 10;
  transition: all 200ms ease-in-out;
  pointer-events: none;
}
