@use '~/constants' as *;

@use '~/mixins' as *;

.layout {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  width: $primary-content-width-wide;
  max-width: $primary-content-width-wide-padded;

  @include for-mobile-only {
    max-width: 100%;
  }
}
