@import 'src/mixins';

@import 'src/constants';

.wrapper {
  margin: 1em 1em;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.header {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.headerContainer {
  margin-bottom: 0.5em;
}

.backButton {
  border-color: $grey-1;
  padding: 0.5em 1.6em;
  text-transform: uppercase;
}

.backButtonText {
  margin: 0;
  font-weight: 700;
}

.top {
  background: $blue;
  width: 100%;
  padding: 0.8em;
  border-radius: .2em;
}

.checkboxDay {
  position: absolute;
  right: 0;
  top: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  @include for-desktop-up {
    max-width: 800px;
  }
}

.select {
  margin-bottom: 1em;
}
.timeSelectContainer {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
}

.timeSelect {
  flex: 1;
}

.dayName {font-size: 1.2em;}

.checkBox {
  border: 2px solid $black;
  color: none;
}

.submitContainer {
  display: flex;
  flex-direction: center;
  justify-content: center;
  padding: 2em 1em;
}
