@use 'src/mixins' as *;

@use 'src/constants' as *;

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  >div {
    flex: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
