@use 'src/constants' as *;

@use 'src/mixins' as *;

.queryBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  @include for-tablet-up {
    flex-direction: row;
  }
}

.searchBar {
  margin: 0;
}
