@import 'src/constants';

@import 'src/mixins';

.queryBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  @include for-tablet-up {
    flex-direction: row;
  }
}

.searchBar {
  flex-basis: 50%;
  margin: 0;
}

