@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  @mixin for-tablet-only {
    width: 100%;
  }
}

.withdrawContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.withdrawnText {
  color: $red-samf;
}
