.priorityControllArrow {
  cursor: pointer;

  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
  }
  &:active {
    cursor: none;
    filter: brightness(200%);
    transform: scale(0.5);
  }
}

.priorityControllBtnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.positionName {
  display: inline-block;
}

.positionLinkWrapper {
  position: relative;
  display: inline-block;
}

.priorityChangeIndicator {
  position: absolute;
  top: -1rem;
  right: -2.25rem;
  font-size: 3rem;
  opacity: 0;
  animation: fadeInOut 2s ease;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
