@import 'src/constants';

@import 'src/mixins';


.separate_header {
  background-color: $red_samf;
  color: $white;
  font-size: 1em;
  text-align: center;
  font-weight: 400;
  @include theme-dark{
    background-color: #590000;
  }
}

.separate_header:hover{
  background-color: $red_samf_hover;
  @include theme-dark{
    background-color: #400000;
  }
}

.separate_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $white;
  color: $black;
  border-top: 1px solid $grey-5;
  @include theme-dark{
    background-color: transparent;
    border-top: 1px solid #300e10;
  }
}

.separate_item:hover{
  background-color: $grey-5;
  @include theme-dark{
    background-color: #300e10;
  }
}

.separate_name {
  flex: 1;
  color: black;
  padding: 1em;
  font-weight: 400;
  @include theme-dark{
    color: white;
  }
}

.separate_name:hover {
  text-decoration: none;
}

