@import 'src/constants';

@import 'src/mixins';


.input_field {
  @include rounded;
  padding: 1em 1em;
  border: 1px solid transparent;
  outline: none;
  &:focus {
    outline: none;
    border: 1px solid $grey-4;
    box-shadow: 0 0 25px 5px rgba(143, 181, 238, 0.391);
    @include theme-dark {
      border-color: $grey-1;
    }
  }
  &.error {
    border: 1px solid red;
  }
}

.label {
  width: 100%;
}

.errors {
  border: 1px solid red;
}

.error_container {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  max-height: 0;
}

.error_text {
  @include rounded;
  background-color: red;
  color: $white;
  height: 1.5em;
  font-size: 0.75em;
  line-height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  transform: translateY(-0.75em);
}

.helpText {
  color: $grey-2;
  font-weight: 100;
  font-size: 1em;
}


.input_field:disabled {
  border: 1px solid transparent;
}

.disabled_label {
  opacity: 0.25;
}

.icon_container {
  position: relative;
  max-height: 0;
  max-width: 0;
  top: -2.4em;
  left: calc(100% - 2.5em);
  margin-right: 0.2em;
}

.field_icon {
  width: 1.5em;
  height: 1.5em;
  opacity: 0.4;
}


