.priorityControllBtnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.priorityControllArrow {
  cursor: pointer;
  
  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
  }
  &:active {
    cursor: none;
    filter: brightness(200%);
    transform: scale(0.5);
  }
}

