.edit_icon {
  color: white;
  filter: brightness(1000%);
  transition: all 200ms ease-in-out;
}

.edit_button {
  pointer-events: all;
  z-index: 10;
  border-radius: 30%;
  width: fit-content;
  padding: 4px;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.edit_button:hover {
  scale: 1.1;
  filter: brightness(110%);

  .edit_icon {
    rotate: 15deg;
  }
}

.default_edit {
  @extend .edit_button;
  background: #3498db;
}

.detail_edit {
  @extend .edit_button;
  background: teal;
}

.delete_edit {
  @extend .edit_button;
  background: crimson;
  appearance: none;
  border: none;
}
