@import 'src/mixins';

@import 'src/constants';


.wrapper {
  margin: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px $black-t10;
  overflow: hidden;
}

.header_container {
  @include flex-row-center;
  justify-content: space-between;
  background-color: $black;
  border-bottom: 1px solid $grey-3;
  font-weight: 700;
  padding: .5em 1em;
  color: white;
}

.logo_container {
  @include flex-row;
  gap: 1em;
  font-size: 1.25em;
  font-weight: 700;
}

.logo {
  max-width: 12em;
}

.tab_container {
  @include flex-row-center;
  justify-content: space-evenly;
  max-height: 0;
  overflow: visible;
  width: 100%;
  z-index: 1;
  gap: 5em;
}

.side_hint {
  @include flex-row-center;
  gap: .5em;
  background-color: $black;
  color: white;
  border-radius: .5em;
  padding: .5em 1em;
  width: 12em;
  text-align: center;
}

.edit_container {
  display: flex;
  gap: 1px;
  max-height: 100%;
  width: 100%;
  flex: 1;
  overflow-y: hidden;
  background-color: $white;
}

.left_side {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100%;
  border-right: 1px dashed $grey-2;
}

.title_input {
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-bottom: 1px solid $black;
  font-weight: 700;
  font-size: 1.5em;
}

.text_area {
  resize: none;
  width: 100%;
  height: calc(100% - 2em);
  padding: 1.5em;
  border: none;
  margin: 0;
  outline: none;
  overflow-y: auto;
}

.preview {
  flex: 1;
  min-height: 100%;
  background-color: $white;
  padding: 1.5em;
  padding-top: 3em;
  overflow-y: auto;
}

.footer {
  @include flex-row;
  justify-content: space-between;
  background-color: $white;
  border-top: 1px solid $grey-3;
  padding-bottom: 1em;
  padding-right: 1em;
  color: $black;
  
  /* stylelint-disable selector-max-type */
  input {
    border: none;
    border-radius: .5em;
    background-color: $grey-4;
    padding: .5em;
    margin-left: .5em;
  }
  button {
    margin-top: .75em;
  }
  /* stylelint-enable selector-max-type */

}

.url_preview {
  flex: 1;
  text-align: left;
  font-weight: 700;
  padding-left: 1em;
  margin-top: .75em;
}

.backButton {
  border-color: $grey-1;
  padding: 0.5em 1.6em;
  text-transform: uppercase;
}

.backButtonText {
  margin: 0;
  font-weight: 700;
}

.header {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.labelText {
  font-weight: 100;
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

.inputGroup {
  border-top: 0.15em solid $grey-2;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.input {
  margin-top: 1em;
  margin-bottom: 1em;
}

.inputGroupHeader {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.submit {
  margin: 0;
  font-weight: 700;
  font-size: 1.5em;
}

.submitContainer {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.row_stretch {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.markdownField {
  @include shadow-light;
  padding: 1em 1em;
  outline: none;
  flex-basis: 35%;
  margin: 1em;
  margin-top: 1.75em;
}

