/* stylelint-disable selector-max-compound-selectors */
@import 'src/constants';
$checkmark: '\2714'; /* ASCII "check"-symbol. */

/* Label wraper i checkbox.tsx. */
.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* Selve input checkbox typen. */
.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Div som styles for å representere en checkbox. */
.checkbox__box {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid $grey-3;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s; /* Bakgrunn kommer gradvis inn. */
}

/* Her velges (og styles) det elementet med klassen .checkbox__box som ligger rett etter(ved bruk av +) elementet med klassen .checkbox__input, når det sistnevnte elementet er "checked". */
.checkbox__input:checked + .checkbox__box {
  background-color: $red-samf;
  border-color: $red-samf;
}

.checkbox__input:checked + .checkbox__box::after {
  color: white;
  content: $checkmark;
}

.checkbox__input:disabled + .checkbox__box {
  border-color: $grey-3;
  background-color: $grey-3;
  cursor: not-allowed;
}
