@use '../../styles/colors' as c;

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__box {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid c.$gray-400;
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 10px;
  flex-shrink: 0;
}

.checkbox__input:checked + .checkbox__box {
  background-color: c.$samf-red-primary;
  border-color: c.$samf-red-primary;
}

.check {
  visibility: hidden;
  font-size: 18px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}

.checkbox__input:checked ~ .check {
  visibility: visible;
}

.checkbox__input:disabled + .checkbox__box {
  border-color: c.$gray-400;
  background-color: c.$gray-400;
  cursor: not-allowed;
}
