@import 'src/constants';
@import 'src/mixins';

@import 'src/mixins';

.applet {
  background-color: $white;
  text-align: center;
  margin: 1em 0.5em;
  box-shadow: 3px 7px 6px $grey-2;
  border-radius: .2em;
  width: 100%;
  max-width: 350px;
  @include for-tablet-only {
    max-width: 600px;
  }
  @include for-mobile-only {
    max-width: 600px;
  }
}

.top {
  background: $red-samf;
  width: 100%;
  padding: 12px;
  border-radius: .2em;
}

.options {
  padding: 16px;
}

.header {
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-size: 1.4em;
}

.text {
  margin: 8px 4px;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.3;
  letter-spacing: 0.01rem;
  
}

.button {
  margin-bottom: 8px;
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
}

.searchInput {
  padding: 8px;
  font-size: 18px;
  border: 1px solid $grey-1;
  margin-bottom: 8px;
  flex: 1;
}

.search {
  flex-direction: column;
  justify-content: center;
}

.searchButton {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 0;
  flex: 1;
}

.KILROY { // TODO Could be expanded to add more pictures
  background-image: url('~/assets/kilroy.png');
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 164px;
  height: 72px;
  margin-top: 16px;
}

