@import 'src/mixins';

@import 'src/constants';


.event_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50em;
  margin: 0 auto;
}

.date_header {
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 3em;
  font-weight: 700;
  color: $red-samf;
  text-align: center;
  padding: .5em;
  border-radius: .5em .5em 0 0;
}

.event_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event_row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

