@import 'src/mixins';

@import 'src/constants';

.dateHeader {
  background-color: $red-samf;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 0;
}

.dateHeaderText {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.3em;
  @include for-tablet-up {
    font-size: 1.3em;
    font-weight: 600;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 32px;
}

.dates_container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 15px 4px rgb(0 0 0 / 10%);
  border-radius: 0.5em;
  overflow: hidden;
  align-items: center;
  margin-bottom: 16px;
}

.events_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.link {
  color: $red-samf;
  font-weight: 600;
  font-size: 1em;
  @include for-tablet-up {
    font-size: 1.2em;
  }
}

.column_area_time {
  flex: 1;
  display:flex;
  flex-direction: column;
  @include for-tablet-up {
    display: flex;
    flex-direction: row;
  }
}

.column_area {
  flex: 1;
}

.column_time {
  flex: 1;
}

.column_title {
  flex: 1;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.column_pay {
  display:flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.column_price {
  display: none;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $grey-1;
  @include for-tablet-up {
    display: flex;
  }
}

.event_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.3em;
  border-top: 1px solid $grey-4;
  padding-left: 1em;
  padding-right: 1em;
  @include for-tablet-up {
    padding: 0.5em;
  }
}
