@import 'src/mixins';

@import 'src/constants';

$event-header-height: 5em;
$event-header-bg-light: rgba(255, 255, 255, 0.9);
$event-header-bg-dark: rgba(31, 31, 31, 0.9);


@keyframes anim-in {
  0% { transform: translateY(-1em); }
  100% { transform: translateY(0); }
}

.header_row {
  // Animation
  transform: translateY(-1em);
  animation-name: anim-in;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  // Display
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // Sizing
  width: 100%;
  min-height: $event-header-height;
  box-sizing: border-box;
  // Padding
  padding-top: 1.25em;
  padding-left: max($content-padding, 1em);
  padding-right: max($content-padding, 1em);
  padding-bottom: 1em;
  // Look
  border-bottom: 1px solid $grey-2;
  background-color: $event-header-bg-light;
  // Position
  top: $navbar-height;
  z-index: 1;

  @include for-mobile-only {
    position: absolute;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
  }

  @include theme-dark {
    background-color: $event-header-bg-dark;
    border-bottom: 1px solid $black;
  }
}

.header {
  font-size: 2em;
  font-weight: 700;
  @include for-mobile-only {
    text-align: center;
  }
}

.filter_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.search_bar {
  width: 25em;
  @include for-tablet-down {
    width: 15em;
  }
  @include for-mobile-only {
    width: 100%;
  }
}

.search_bar_field {
  border: 1px solid $grey-3;
}

.button_row {
  display: flex;
  gap: 1em;
  @include for-mobile-only {
    justify-content: center;
    padding-bottom: .3em;
  }
}

.event_view_container {
  margin: 0 auto;
  padding-top: $event-header-height;
  margin-top: 3.5em;
  padding-bottom: 5em;
  max-width: $content-max-size;

  @include for-mobile-only {
    margin-top: 9em;
  }
}

.event_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 1em;

  @include for-tablet-down {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include for-mobile-only {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}

.event_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.date_header {
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 3em;
  font-weight: 700;
  color: $red-samf;
  text-align: center;
  padding: .5em;
  border-radius: .5em .5em 0 0;
}

