@import 'src/constants';

.lyche_menu {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.lyche_header_border_top {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  align-content: center;
}

.lyche_menu_border {
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: calc(100% - 64px);
}

.lyche_menu_inner_border {
  margin-right: 14px;
  margin-left: 14px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-top: 3em;
  padding-bottom: 3em;
  display: block;
}

.lyche_header_border_bottom {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  align-content:center;
}

.corner_right_top {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  transform: translateX(-16px);
}

.corner_left_top {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  align-items: center;
  transform: translateX(16px);
}

.corner_right_bottom {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  transform: translate(-17px,0);
}

.corner_left_bottom {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  transform: translate(17px,0);
}

.middle_top {
  flex: 1;
  height: 16px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.middle_bottom {
  flex: 1;
  height: 16px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  transform: translateY(-16px);
}

.dot {
  width: 4px;
  height: 4px;
  margin: 5px;
  background-color: white;
}



