@import 'src/constants';

.altText {
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
  margin-top: 10px;
  margin-left: -1.8px;
  color: $grey-3;
}

