@import 'src/constants';

.calendar {
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  grid-gap: 1px;
  background-color: $grey-1;

  .hour {
    padding: 5px;
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    grid-column: 1;
    background-color: white;
    grid-row: span 12;
  }

  .event {
    background-color: #aaaaff;
    border-radius: 4px;
    padding: 5px;
  }

  .blank {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: -1;
  }
}
