@use 'src/constants' as *;

@use 'src/mixins' as *;

.file_label {
  pointer-events: none;
  background-color: white;
  @include shadow-light;
  border-radius: 0.5em;
  transition: 0.2s;
  padding: 1.5em;
  @include theme-dark {
    background-color: $grey-0;
  }
}

.error {
  border: 1px solid red;
}

.top_row {
  display: flex;
  align-content: center;
  justify-content: space-between;
  line-height: 2em;
  gap: 1em;
  @include for-mobile-only {
    flex-direction: column;
  }
}

.upload_button {
  @include flex-row;
  @include shadow-light;
  gap: 1em;
  pointer-events: all;
  flex-grow: 0;
  max-width: 10em;
  height: 2em;
  border-radius: 1em;
  background-color: $grey-4;
  padding: 0.2em 1em;
  transition: 0.2s;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    background-color: $white;
    @include theme-dark {
      background-color: $grey-2;
    }
  }
  &:active {
    filter: brightness(90%);
  }
  @include theme-dark {
    background-color: $grey-1;
  }
}

.preview_container {
  height: 8em;
  min-width: 6em;
  background: white;
  @include theme-dark {
    background-color: $grey-0;
  }
}

.preview_image {
  margin-top: 1em;
}

.preview_pdf {
  @include shadow-light;
  pointer-events: all;
  transition: 0.2s;
  height: 12em;
  min-width: 8em;

  &:hover {
    transform: scale(1.05);
  }
}

.delete_button {
  opacity: 1;
  position: absolute;
  top: -7px;
  right: -7px;
  pointer-events: all;
}

.image_wrapper {
  position: relative;
  display: inline-block; 
  overflow: visible;
  pointer-events: all
}

.preview {
  @include shadow-light;
  border: 1px solid $black;
  height: auto;
  width: auto;
  max-width: 15em;
  max-height: 8em;
  margin: 0 auto;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected_container {
  display: flex;
  flex-direction: column;
  &.pdf {
    flex-direction: row;
  }
}

.preview_meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  gap: 0.5em;
  margin-right: 2em;
  font-weight: 500;
}

.title {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  @include for-mobile-only {
    flex-direction: column;
  }
}
