@import 'src/constants';

@import 'src/mixins';

$bottom-padding: 2em;

.page {
  // Lift elements laying on the bottom of the page.
  padding-bottom: $bottom-padding;

  // Ensure full height even when no content in body.
  min-height: calc(100vh - $navbar-height - $bottom-padding);

  // Limit max content size for large screens.
  max-width: $content-max-size;

  // Center all content.
  margin: auto;
}

// TODO ADD MOBILE PADDING
