@import 'src/constants';

@import 'src/mixins';

.feedback_button {
  position: fixed;
  bottom: 10vh;
  right: 3vh;
  z-index: 1000;
  height: 50px;
  width: 50px;

}

.modal_close_button {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  rotate: 45deg;
  background: none;
}
