@import 'src/constants';

@import 'src/mixins';

.feedback_div {
  position: fixed;
  z-index: 10000;
  height: 90vh;
  width: 98vw;
  display: flex;
  align-items: end;
  justify-content: end;
}

.feedback_button {
  position: sticky;
  height: 50px;
  width: 50px;
}

.modal_close_button {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  rotate: 45deg;
  background: none;
}
