@import 'src/mixins';

@import 'src/constants';


.event_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 auto;
}

.date_header {
  font-size: 1.5em;
  margin-bottom: .25em;
  margin-top: 1em;
  font-weight: bold;
  color: $red-samf;
  text-align: center;
  padding: .5em;
  border-radius: .5em .5em 0 0;
}
.event_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event_row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}


// OLD
/*
.dateHeader {
  background-color: $red-samf;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 0;
}

.dateHeaderText {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.3em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 16px;
}

.dates_container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 15px 4px rgb(0 0 0 / 10%);
  border-radius: 0.5em;
  overflow: hidden;
  align-items: center;
  margin-bottom: 16px;
}

.events_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.column_area_time {
  flex: 1;
}

.link {
  color: $red-samf;
  font-weight: 600;
  font-size: 1.2em;
}

.column_title {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.column_price {
  display: none;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  color: $grey-1;
  @include for-tablet-up {
    display: block;
  }
}

.event_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.3em;
  border-top: 1px solid $grey-2;
}
*/
