@use 'src/mixins' as *;
@use 'src/constants' as *;


$width: 420px;

// TODO: move to new badge component
.red_badge {
  border-radius: 50vh;
  min-width: 50px;
  color: #ED3434;
  background: #640606;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
}

.container {
  width: $width;
}

.container a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.card {
  border-radius: 10px;
  position: relative;

  aspect-ratio: 1;
  overflow: hidden;
}

.card_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  z-index: 20;
}

.card_info {
  display: flex;
  justify-content: space-between;
  color: $white;
}

.image_container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.gradient_overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.call_to_action {
  color: $white;
  border-bottom: 1px solid $white;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}

.image {
  object-fit: cover;
  transition: transform 0.4s cubic-bezier(.25, 0.75, 0.25, 1);
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.card:hover .image {
  transform: scale(1.05);
}

.title {
  font-size: 36px;
  font-weight: 500;
  margin-top: 0.5rem;
  color: $black;
}
