@use 'src/styles/colors' as c;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: c.$white-50;
}

.call_to_action {
  color: c.$white-50;
  border-bottom: 1px solid c.$white-50;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}

.location {
  font-size: 14px;
  color: c.$gray-100;
}
