@use 'src/styles/colors' as c;

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: c.$white-50;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.call_to_action {
  color: c.$white-50;
  border-bottom: 1px solid c.$white-50;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: c.$gray-400;
}
