@use 'src/mixins' as m;

@use 'src/styles/colors' as c;

@use 'src/styles/variables' as v;

$border-radius: v.$border-radius-lg;
$width: 400px;
$min-width: 330px;

.event_card {
  width: $width;
  min-width: $min-width;
  transition: box-shadow 0.1s ease-in-out;
  border-radius: $border-radius;

  &:hover {
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.04);
  }
}

.header {
  position: relative;
  overflow: hidden;
  border: 1px solid #EFEFEF; // gray-50 is too light, gray-100 is too dark
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;

  @include m.theme-dark {
    border-color: c.$gray-900;
  }
}

.title {
  display: block; // the purpose of this is to expand the clickable area of the title
  font-size: v.$font-size-lg;
  font-weight: v.$font-weight-semibold;
  text-decoration: none;
  color: c.$gray-950;

  @include m.theme-dark {
    color: c.$white-50;
  }
}

.footer {
  padding: 16px;
  border: 1px solid c.$gray-100;
  border-top: none;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  @include m.theme-dark {
    border-color: c.$gray-800;
  }
}

.time_detail {
  margin-left: auto;
  white-space: nowrap;
}

.ticket_row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.ticket_price {
  flex: 1;
}
