table {
  display: table;
  border-spacing: 0;

}
.table_element_left {
  border-right:solid;
  padding: 0.5em;
  padding-bottom: 0;
}

.table_element_right {
  padding:0.5em;
}


.table_column {
  border-right: 1px solid black;
}
