/* stylelint-disable function-comma-space-after */
/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-class */
/* stylelint-disable max-nesting-depth */
/* TODO: fix later */

@import 'src/mixins';

@import 'src/constants';

// Background
$navbar-bg: rgba(255, 255, 255, 255);
$navbar-bg-transparent: rgba(255, 255, 255, 0);
$navbar-bg-dark: rgba(0, 0, 0, 255);
$navbar-bg-dark-transparent: rgba(0, 0, 0, 0);
$navbar-dropdown-bg: rgba(255, 255, 255, 0.6);
$navbar-dropdown-bg-dark: rgba(0, 0, 0, 0.6);

// Link
$navbar-link-light-hover-gradient-top: #f4f4f4;
$navbar-dropdown-link-light-hover: #151515;
$navbar-dropdown-link-dark-hover: #f4f4f4;
$navbar-link-light-hover-gradient-bottom: #ffffff;
$navbar-link-dark-hover-gradient-top: #151515;
$navbar-link-dark-hover-gradient-bottom: #000000;
$navbar-link-transparent-hover-gradient-top: rgba(255, 255, 255, 0.1);
$navbar-link-transparent-hover-gradient-bottom: rgba(255, 255, 255, 0);

/* Inner container with padding */
.navbar_outlet {
  padding-top: $navbar-height;
}

/* Content padding */
.navbar_padding {
  margin-top: $navbar-height;
}

/* Main navbar */
#navbar_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background: $navbar-bg;
  color: $black;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  white-space: nowrap;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.06);

  @include theme-dark {
    background: $navbar-bg-dark;
    color: $white;
  }
}

.navbar_inner {
  flex: 1;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar_item {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.navbar_mobile_item {
  position: relative;
}

.mobile_dropdown_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown_container {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
  flex-direction: column;
  background: $navbar-dropdown-bg;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.06);

  @include theme-dark {
    background: $navbar-dropdown-bg-dark;
    color: $white;
  }
}

.dropdown_open,
.dropdown_container:hover,
.navbar_dropdown_item:hover .dropdown_container {
  display: flex;
}

.navbar_dropdown_link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  @include theme-dark {
    color: $white;
  }

  &:hover {
    background: $navbar-dropdown-link-light-hover;
    color: white;
    text-decoration: none;

    @include theme-dark {
      background: $navbar-dropdown-link-dark-hover;
      color: black;
    }
  }
}

/* Desktop navigation items */
.navbar_link {
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.1s;
  flex: 1;
  text-align: center;
  justify-content: center;
  z-index: 2;

  @include for-tablet-down {
    display: none;
  }

  /* Link hover for regular navbar */
  &:hover {
    background: linear-gradient(
      to bottom,
      $navbar-link-light-hover-gradient-top,
      $navbar-link-light-hover-gradient-bottom
    );
    text-decoration: none;

    @include theme-dark {
      background: linear-gradient(
        to bottom,
        $navbar-link-dark-hover-gradient-top,
        $navbar-link-dark-hover-gradient-bottom
      );
      color: #eeeeee;
    }
  }
}

/* Set background color to ensure box-shadow from dropdown menus comes beneath entire menu */
#navbar_container:not(.transparent_navbar) .navbar_link:not(:hover) {
  background: $navbar-bg;

  @include theme-dark {
    background: $navbar-bg-dark;
  }
}

/* Samf logo */
#navbar_logo {
  display: flex;
  text-decoration: none;
  margin: 0 1rem;
  width: 250px;
  cursor: pointer;
}

#navbar_logo_img {
  width: 100%; // QUESTION: Why is this needed?
  padding: 13px;
}

/* Widgets with language, theme, login */
.navbar_widgets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 24px;
  margin-left: 24px;
  gap: 15px;
  @include for-tablet-down {
    display: none;
  }
}

/* Pick language */
.language_flag {
  width: 28px;
  height: 20px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

/* Container for profile */
.navbar_profile_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  background-color: inherit;
  border-bottom: 1px solid transparent;
  gap: 5px;

  .profile_icon {
    width: 16px;
    height: 16px;
  }

  .profile_text {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
  }

  &:hover {
    color: $red-samf;
  }
}

/* Hamburger menu */
#navbar_hamburger {
  display: none;

  @include for-tablet-down {
    height: 69%;
    width: 55px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .navbar_hamburger_line {
    background-color: $black;
    width: 35px;
    height: 4px;
    border-radius: 10px;
    transition: transform 400ms;

    @include theme-dark {
      background-color: $white;
    }
  }

  &.open {
    .navbar_hamburger_line.top {
      transform: translateY(12px) rotate(-45deg);
    }

    .navbar_hamburger_line.middle {
      opacity: 0;
    }

    .navbar_hamburger_line.bottom {
      transform: translateY(-11px) rotate(45deg);
    }
  }
}

/* Transparent navbar (on top of page) */
#navbar_container.transparent_navbar {
  background: $navbar-bg-transparent;
  box-shadow: none;
  color: white;

  @include theme-dark {
    background: $navbar-bg-dark-transparent;
    color: white;
  }
  .navbar_hamburger_line {
    background-color: white;
  }
  .navbar_link:hover {
    background: linear-gradient(
      to bottom,
      $navbar-link-transparent-hover-gradient-top,
      $navbar-link-transparent-hover-gradient-bottom
    );
    text-decoration: none;
    color: inherit;
  }
  .navbar_profile_button {
    color: inherit;
    &:hover {
      color: $grey-4;
    }
  }
}

/* Mobile popup navigation */
#mobile_popup_container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  min-height: 400px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  @include for-desktop-up {
    display: none;
  }

  @include theme-dark {
    background: $navbar-bg-dark;
    color: white;
  }
}

/* Navbar link mobile */
.popup_link_mobile {
  color: inherit;
  font-size: 1.5em;
  margin-bottom: 0.25em;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
}

.mobile_widgets {
  display: flex;
  align-items: center;
  margin-top: 5em;
  gap: 1em;
}

.mobile_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  max-width: 150px;
  overflow: visible;
  white-space: nowrap;
}
