/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-class */
/* stylelint-disable max-nesting-depth */
/* TODO: fix later */

@import 'src/mixins';

@import 'src/constants';

$navbar-bg: rgba(255, 255, 255, 255);
$navbar-bg-transparent: rgba(255, 255, 255, 0);
$navbar-bg-dark: rgba(0, 0, 0, 255);
$navbar-bg-dark-transparent: rgba(0, 0, 0, 0);


/* Content padding */
.navbar_padding {
  margin-top: $navbar-height;
}

/* Main navbar */
#navbar_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background: $navbar-bg;
  color: black;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  white-space: nowrap;

  @include theme-dark {
    background: $navbar-bg-dark;
    color: $white;
  }

}

.navbar_inner {
  flex: 1;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Desktop navigation items */
.navbar_link {
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
  transition: .1s;
  flex: 1;
  text-align: center;
  justify-content: center;
  background: transparent;

  @include for-tablet-down {
    display: none;
  }

  /* Link hover for regular navbar */
  &:hover {
    background: linear-gradient(
      to bottom, #f4f4f4, #ffffff
    );
    color: #222222;
    text-decoration: none;

        
    @include theme-dark {
      background: linear-gradient(
        to bottom, #151515, #000000
      );
      color: #eeeeee;
    }

  }
}

/* Samf logo */
#navbar_logo {
  display: flex;
  text-decoration: none;
  margin: 0 1rem;
  width: 250px;
  cursor: pointer;
  
}

#navbar_logo_img {
  width: 100%;
}

/* Widgets with language, theme, login */
.navbar_widgets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 24px;
  margin-left: 24px;
  gap: 15px;
  @include for-tablet-down {
    display: none;
  }
}

/* Pick language */
.language_flag {
  width: 28px;
  height: 20px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  transition: .1s;
  &:hover {
    transform: scale(1.1);
  }
}

/* Container for profile */
.navbar_profile_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  background-color: inherit;
  border-bottom: 1px solid transparent;
  gap: 5px;

  .profile_icon {
    width: 16px;
    height: 16px;
  }

  .profile_text {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
  }

  &:hover {
    color: $red-samf;
  }

}

/* Transparent navbar (on top of page) */ 
.transparent_navbar {
  background: $navbar-bg-transparent;
  color: white;

  .navbar_hamburger_line {
    background-color: white;
  }
  .navbar_link:hover {
    background: linear-gradient(
      to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
    );
    text-decoration: none;
    color: inherit;
  }
  .navbar_profile_button {
    color: inherit;
    &:hover {
      color: #cccccc;
    }
  }
}

/* Hamburger menu */
#navbar_hamburger {
  display: none;

  @include for-tablet-down {
    height: 69%;
    width: 55px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .navbar_hamburger_line {
    background-color: $black;
    width: 35px;
    height: 4px;
    border-radius: 10px;
    transition: transform 400ms;
  
    @include theme-dark {
      background-color: $white;
    }
  
  }

  &.open {
    .navbar_hamburger_line.top {
      transform: translateY(12px) rotate(-45deg);
    }

    .navbar_hamburger_line.middle {
      opacity: 0;
    }

    .navbar_hamburger_line.bottom {
      transform: translateY(-11px) rotate(45deg);
    }
  }

}

/* Mobile popup navigation */
#mobile_popup_container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  min-height: 400px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;

  @include for-desktop-up {
    display: none;
  }
  
  @include theme-dark {
    background: $navbar-bg-dark;
    color: white;
  }

}


/* Navbar link mobile */
.popup_link_mobile {
  color: inherit;
  font-size: 1.5em;
  margin-bottom: 0.25em;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1rem;
  cursor: pointer;
}


.mobile_widgets {
  display: flex;
  align-items: center;
  margin-top: 5em;
  gap: 1em;
}

.mobile_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
  max-width: 150px;
  overflow: visible;
  white-space: nowrap;
}
