@import '../../mixins';
$navbar-bg: #000000;

#navbar_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: $navbar-bg;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 12;
  min-width: 350px;
  @include for-tablet-down {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#navbar_logo {
  display: flex;
  text-decoration: none;
  padding: 0 1rem;
  height: auto;
  width: 240px;
  cursor: pointer;
}

// Desktop navigation items:

.navbar_link {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  @include for-tablet-down {
    display: none;
  }
}

.navbar_signup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 24px;
  @include for-tablet-down {
    display: none;
  }
}

.navbar_language_flag {
  width: 28px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
}

.navbar_member_button {
  display: flex;
  align-items: center;
  margin-right: 0.8em;
}

.member_button_link {
  text-decoration: none;
  color: white;
}

.navbar_internal_button {
  background-color: white;
}

.internal_button_link {
  text-decoration: none;
  color: black;
}

.navbar_profile_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: inherit;
  @include for-tablet-down {
    display: none;
  }
}

.profile_icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.profile_text {
  text-decoration: none;
  color: #777;
}

// Hamburger menu

#navbar_hamburger {
  display: none;
  @include for-tablet-down {
    height: 69%;
    width: 80px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

.navbar_hamburger_line {
  background-color: white;
  width: 35px;
  height: 4px;
  border-radius: 10px;
  transition: transform 400ms;
}

#navbar_hamburger.open {
  .navbar_hamburger_line.top {
    transform: translateY(12px) rotate(-45deg);
  }

  .navbar_hamburger_line.middle {
    opacity: 0;
  }

  .navbar_hamburger_line.bottom {
    transform: translateY(-11px) rotate(45deg);
  }
}

// Mobile popup navigation

#mobile_popup_container {
  position: fixed;
  top: 60;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include for-desktop-up {
    display: none;
  }
}

.popup_link_mobile {
  color: white;
  font-size: 1.5em;
  margin-bottom: 0.75em;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
}

.popup_change_language {
  color: white;
  font-size: 1em;
  margin-bottom: 0.75em;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
}

.popup_member_button {
  margin-bottom: 0.5em;
}

.popup_internal_button {
  background-color: white;
}

.popup_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  padding: 1px;
  padding-top: 0.6em;
  background-color: inherit;
}
