.navbar_nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 12;
  min-width: 350px;
  @media screen and (max-width: 950px) {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: auto;
    width: 240px;
    cursor: pointer;
  }
  
  .navbar_link {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  
  .navbar_signup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 24px;
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  
  .navbar_member_button {
    display: flex;
    align-items: center;
    margin-right: 16px;
    text-decoration: none;
    .navbar_member_link {
      color: white;
    }
  }
  
  .navbar_internal_button {
    background-color: white;
    text-decoration: none;
    .navbar_internal_link {
      color: black;
    }
  }
}


.navbar_hamburger {
  display: none;
  @media screen and (max-width: 950px) {
    height: 69%;
    width: 80px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

.navbar_hamburger_line {
  background-color: white;
  width: 35px;
  height: 4px;
  border-radius: 10px;
}

.navbar_popup_mobile {
  position: fixed;
  top: 60;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // padding: 0.2rem calc((100vw - 1000px) / 2);
  @media screen and (min-width: 950px) {
    display: none;
  }
  .navbar_link_mobile {
    color: white;
    font-size: 1.5em;
    margin-bottom: 0.75em;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    cursor: pointer;
  }

  .navbar_language_mobile {
    color: white;
    font-size: 1em;
    margin-bottom: 0.75em;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    cursor: pointer;
  }

  .navbar_member_button {
    .navbar_member_link {
      color: white;
      text-decoration: none;
    }
  }

  .navbar_internal_button {
    background-color: white;
    .navbar_internal_link {
      color: black;
      text-decoration: none;
    }
  }
}

.navbar_profile_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: inherit;
}

.navbar_profile_icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.navbar_profile_text {
  text-decoration: none;
  color: #777;
}

.navbar_language_flag {
  width: 28px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
}
