/* stylelint-disable function-comma-space-after */
/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-class */
/* stylelint-disable max-nesting-depth */
/* TODO: fix later */

@import 'src/mixins';

@import 'src/constants';

// Background
$navbar-bg: white;
$navbar-bg-transparent: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, transparent);
$navbar-bg-dark: black;
$navbar-bg-dark-transparent: $navbar-bg-transparent;
$navbar-dropdown-bg: rgba(255, 255, 255, 0.6);
$navbar-dropdown-bg-dark: rgba(0, 0, 0, 0.6);
$navbar-dropdown-border-radius: 0 0 0.5em 0.5em;

// Link
$navbar-link-blur-light-bg: rgba(255, 255, 255, 0.4);
$navbar-link-blur-dark-bg: rgba(0, 0, 0, 0.4);
$navbar-link-light-hover-gradient-top: #f4f4f4;
$navbar-dropdown-link-light-hover: #202020;
$navbar-dropdown-link-dark-hover: #f4f4f4;
$navbar-link-light-hover-gradient-bottom: #ffffff;
$navbar-link-dark-hover-gradient-top: #151515;
$navbar-link-dark-hover-gradient-bottom: #000000;
$navbar-link-transparent-hover-gradient-top: rgba(255, 255, 255, 0.1);
$navbar-link-transparent-hover-gradient-bottom: transparent;

/* Inner container with padding */
.navbar_outlet {
  padding-top: $navbar-height;
}

/* Content padding */
.navbar_padding {
  margin-top: $navbar-height;
}

/* Main navbar */
#navbar_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background: $navbar-bg;
  color: $black;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  white-space: nowrap;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.06);

  @include theme-dark {
    background: $navbar-bg-dark;
    color: $white;
  }
}

.navbar_inner {
  flex: 1;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar_item {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
}

.navbar_item_icon {
  margin-right: 0.25rem;
}

.hidden {
  display: none;
}

.navbar_mobile_item {
  position: relative;
}

.dropdown_container_left .dropdown_container {
  right: 0;
}

.mobile_dropdown_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes anim-dropdown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 20em;
    opacity: 1;
  }
}

.dropdown_container {
  position: absolute;
  pointer-events: none;
  transition: 0.15s;
  top: 100%;
  min-width: 130%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: $navbar-dropdown-bg;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  opacity: 0;

  @include for-desktop-up {
    border-radius: $navbar-dropdown-border-radius;
  }

  @include theme-dark {
    background-color: $navbar-dropdown-bg-dark;
    color: $white;
  }
}

.dropdown_open {
  pointer-events: all;
  overflow: visible;
  transform: scaleY(1);
  opacity: 1;
}

.navbar_dropdown_link, .navbar_logout_button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.1s;
  color: $black;
  cursor: pointer;
  font-size: inherit;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: none;
  border: none;

  @include theme-dark {
    color: $white;
  }

  &:last-child {
    @include for-desktop-up {
      border-radius: $navbar-dropdown-border-radius;
    }
  }

  &:hover {
    background: $navbar-dropdown-link-light-hover;
    color: $white;
    text-decoration: none;

    @include theme-dark {
      background: $navbar-dropdown-link-dark-hover;
      color: $black;
    }
  }
}

/* Desktop navigation items */
.navbar_main_links {
  display: flex;
  height: 100%;
  margin-right: auto;
  font-size: 14px;
}

.navbar_main_links_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar_link {
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  transition: 0.1s;
  flex: 1;
  text-align: center;
  justify-content: center;
  background: transparent;
  z-index: 2;
  font-size: inherit;

  @include for-tablet-down {
    display: none;
  }

  // This ensures navbar dropdown shadow does not lie
  // on top of the navbar item
  &.selected {
    background-color: $navbar-bg;
    @include theme-dark {
      background-color: $navbar-bg-dark;
    }
  }

  /* Link hover for regular navbar */
  &:hover {
    background: linear-gradient(
      to bottom,
      $navbar-link-light-hover-gradient-top,
      $navbar-link-light-hover-gradient-bottom
    );
    text-decoration: none;

    @include theme-dark {
      background: linear-gradient(
        to bottom,
        $navbar-link-dark-hover-gradient-top,
        $navbar-link-dark-hover-gradient-bottom
      );
      color: #eeeeee;
    }
  }
}

/* Samf logo */
.navbar_logo {
  display: flex;
  text-decoration: none;
  margin: 0 1rem;
  width: 250px;
  cursor: pointer;
}

#navbar_logo_img {
  width: 100%; // QUESTION: Why is this needed?
  padding: 13px;
}

/* Widgets with language, theme, login */
.navbar_widgets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 24px;
  margin-left: 24px;
  gap: 15px;
  height: 100%;

  @include for-tablet-down {
    display: none;
  }
}

/* Pick language */
.language_flag {
  width: 28px;
  height: 20px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

.language_flag_button {
  background-color: transparent;
  border-color: transparent;
}

/* Container for profile */
.navbar_profile_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  background-color: inherit;
  border-bottom: 1px solid transparent;
  gap: 5px;

  @include for-desktop-up {
    height: 100%;
  }

  .profile_icon {
    width: 16px;
    height: 16px;
  }

  .profile_text {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    color: $red-samf;
  }
}

/* Transparent navbar (on top of page) */
#navbar_container.transparent_navbar {
  background: $navbar-bg-transparent;
  box-shadow: none;
  color: $white;

  @include theme-dark {
    background: $navbar-bg-dark-transparent;
    color: $white;
  }

  .navbar_link:hover {
    background: linear-gradient(
      to bottom,
      $navbar-link-transparent-hover-gradient-top,
      $navbar-link-transparent-hover-gradient-bottom
    );
    text-decoration: none;
    color: inherit;
  }
  .navbar_profile_button {
    color: inherit;
    &:hover {
      color: $grey-4;
    }
  }
}

/* Mobile popup navigation */
#mobile_popup_container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  min-height: 400px;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  @include for-desktop-up {
    display: none;
  }

  @include theme-dark {
    background: $navbar-bg-dark;
    color: $white;
  }
}

/* A way to make the "Information" text look more centered 
offsets the text by 18px, the size of the chevron-icon */
#mobile_popup_container > .navbar_mobile_item:nth-child(2) {
  margin-left: 18px;
}

/* Navbar link mobile */
.popup_link_mobile {
  color: inherit;
  font-size: 1.5em;
  margin-bottom: 1em;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  transition: transform 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
    transform: scale(1.05);
  }
}

.mobile_widgets {
  display: flex;
  align-items: center;
  margin-top: 5em;
  gap: 1em;
}

.mobile_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  max-width: 150px;
  overflow: visible;
  white-space: nowrap;
}

.chevron {
  transition: transform 0.2s;
  // display: none;
}

.chevron.flip {
  transform: scaleY(-1);
}

// When this dropdown menu item is open and navbar is transparent
// we add backdrop filter to the dropdown itself as well
.selected {
  background-color: $navbar-bg;
  color: $black;

  @include theme-dark {
    background: $navbar-bg-dark;
    color: $white;
  }
}
