/* stylelint-disable function-comma-space-after */
/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-class */
/* TODO: fix later */

@use 'src/mixins' as *;

@use 'src/constants' as *;

// Font
$navbar-font-family: 'futura-pt', 'Lato', sans-serif;

// Background
$navbar-bg: white;
$navbar-bg-transparent: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent);
$navbar-bg-dark: black;
$navbar-bg-dark-transparent: $navbar-bg-transparent;
$navbar-dropdown-bg: rgba(255, 255, 255, 1);
$navbar-dropdown-bg-dark: rgba(0, 0, 0, 1);
$navbar-dropdown-border-radius: 0 0 0.5em 0.5em;

// Link
$navbar-link-blur-light-bg: rgba(255, 255, 255, 0.4);
$navbar-link-blur-dark-bg: rgba(0, 0, 0, 0.4);
$navbar-link-light-hover-gradient-top: #f4f4f4;
$navbar-dropdown-link-light-hover: #202020;
$navbar-dropdown-link-dark-hover: $red-samf;
$navbar-link-light-hover-gradient-bottom: #ffffff;
$navbar-link-dark-hover-gradient-top: #151515;
$navbar-link-dark-hover-gradient-bottom: #000000;
$navbar-link-transparent-hover-gradient-top: rgba(255, 255, 255, 0.1);
$navbar-link-transparent-hover-gradient-bottom: transparent;

/* Inner container with padding */
.navbar_outlet {
  padding-top: $navbar-height;
}

/* Content padding */
.navbar_padding {
  margin-top: $navbar-height;
}

/* Main navbar */
#navbar_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background: $navbar-bg-dark;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  white-space: nowrap;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0);
}

.navbar_inner {
  flex: 1;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar_item {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
}

.navbar_item_icon {
  margin-right: 0.25rem;
}

.hidden {
  display: none;
}

.navbar_mobile_item {
  position: relative;
}

.mobile_dropdown_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown_container {
  position: absolute;
  pointer-events: none;
  top: 100%;
  min-width: 130%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: $navbar-dropdown-bg-dark;
  color: $white;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0);
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  opacity: 0;
}

.dropdown_container_left .dropdown_container {
  right: 0;
}

.dropdown_open {
  pointer-events: all;
  overflow: visible;
  transform: scaleY(1);
  opacity: 1;
}

.navbar_dropdown_link,
.navbar_logout_button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: $white;
  cursor: pointer;
  font-size: inherit;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: none;
  border: none;

  @include theme-dark {
    color: $white;
  }

  &:hover {
    background: $navbar-dropdown-link-dark-hover;
    text-decoration: none;
  }
}

/* Desktop navigation items */
.navbar_main_links {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-right: auto;
  font-size: 16px;
  font-family: $navbar-font-family;
  text-transform: uppercase;
}

.navbar_main_links_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar_link {
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  flex: 1;
  text-align: center;
  justify-content: center;
  z-index: 2;
  font-size: inherit;

  &:hover {
    text-decoration: none;
  }

  @include for-tablet-down {
    display: none;
  }

  // This ensures navbar dropdown shadow does not lie
  // on top of the navbar item
  &.selected {
    background-color: $navbar-bg-dark;
  }

  /* Link hover for regular navbar */
}

/* Samf logo */
.navbar_logo {
  display: flex;
  text-decoration: none;
  margin: 0 1rem;
  width: 250px;
  cursor: pointer;
}

#navbar_logo_img {
  width: 100%; // QUESTION: Why is this needed?
}

/* Widgets with language, theme, login */
.navbar_widgets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 24px;
  margin-left: 24px;
  gap: 15px;
  height: 100%;

  @include for-tablet-down {
    display: none;
  }
}

/* Container for profile */
.navbar_profile_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  background-color: inherit;
  gap: 5px;

  @include for-desktop-up {
    height: 100%;
  }

  .profile_icon {
    width: 16px;
    height: 16px;
  }

  .profile_text {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    color: $red-samf;
  }
}

/* Mobile popup navigation */
#mobile_popup_container {
  position: fixed;
  top: $navbar-height;
  left: 0;
  width: 100vw;
  height: calc(100vh - $navbar-height);
  min-height: 400px;
  background: $navbar-bg-dark;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  @include for-desktop-up {
    display: none;
  }
}

/* A way to make the "Information" text look more centered
offsets the text by 18px, the size of the chevron-icon */
#mobile_popup_container > .navbar_mobile_item:nth-child(2) {
  margin-left: 18px;
}

/* Navbar link mobile */
.popup_link_mobile {
  color: inherit;
  font-size: 1.5em;
  margin-bottom: 1em;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
}

.mobile_widgets {
  display: flex;
  align-items: center;
  margin-top: 5em;
  gap: 1em;
}

.mobile_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  max-width: 150px;
  overflow: visible;
  white-space: nowrap;
}

.chevron.flip {
  transform: scaleY(-1);
}

// When this dropdown menu item is open and navbar is transparent
// we add backdrop filter to the dropdown itself as well
.selected {
  background: $navbar-bg-dark;
  color: $white;
}

.active_recruitment {
  font-weight: 500;
  color: $white;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}
