@import 'src/mixins';
@import 'src/constants';

.wrapper {
  margin: 1em 1em;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.header {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.5m;
  margin-top: 0.5em;
}
.headerContainer {
  margin-bottom: 0.5em;
}
.backButton {
  border-color: $grey-1;
  padding: 0.5em 1.6em;
  text-transform: uppercase;
  p {
    margin: 0;
    font-weight: 700;
  }
}

.tableContainer {
  margin-top: 2em;
}

