@import 'src/constants';

@import 'src/mixins';

.header_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.expandable_header {
  background-color: $red_samf;
  color: white;
  font-size: 17px;
  font-weight: 400;
  @include theme-dark {
    background-color: #590000;
  }
}

.expandable_header:hover {
  background-color: $red_samf_hover;
  @include theme-dark {
    background-color: #400000;
  }
}
