.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: auto;
  background-color: white;
  font-family: inherit;
  border-radius: 10px;
  transition: 0.2s;
  padding: 20px;
  margin: 10px;
}

.textbox {
  width: 100%;
  height: 200px;
  border: 1px outset #cccccccc;
  border-radius: 4px;
  resize: none;
  padding: 12px 20px;
  white-space: pre-wrap;
  overflow-y: auto;
}

.button {
  width: 150px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #33333333;
}
