.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: auto;
  background-color: white;
  font-family: inherit;
  border-radius: 10px;
  transition: 0.2s;
  padding: 20px;
  margin: 10px;
}

.button {
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
}
