@import 'src/constants';

@import 'src/mixins';

.icon_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $grey-3;
  border-radius: 100%;
  width: 1.75em;
  height: 1.75em;
  cursor: pointer;
  color: white;

  &:hover {
    filter: brightness(105%);
    transform: scale(1.1);
  }
}
