@import 'src/constants';

.table_samf {

  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px;
  text-align: left;

  border-radius: .5em;
  overflow: hidden;

  box-shadow: 0 0 .5em .1em rgba(0, 0, 0, 0.4);

  thead {
    background-color: $red-samf;

    tr {
      th {
        padding: .2em .75em;
        border-right: 1px solid $grey-1;
        color: $white;
        font-weight: bold;
      }
    }

  }

  tbody {
    
    tr {
      td {
        padding: .2em .75em;
        border-right: 1px solid $grey-1;
      }
      &:hover {
        filter: brightness(102%);
      }
    }

    tr:nth-child(even) {
      background-color: $grey-5;
      border-bottom: 1px solid $grey-3;
      border-top: 1px solid $grey-3;
    }
    tr:nth-child(odd) {
      background-color: $grey-4;
    }

  }
  
}

