@import 'src/constants';

@import 'src/mixins';

/* stylelint-disable selector-max-combinators, selector-max-compound-selectors, selector-max-type, max-nesting-depth */

// Backgrounds
$table-bg: #ffffff;
$table-bg-dark: #2f2f2f;
$table-bg-hover: #f8f8f8;
$table-bg-hover-dark: #393939;

// Borders
$thead-border-color: #f3f3f3;
$thead-border-color-dark: #101010;
$tr-border-color: #f5f5f5;
$tr-border-color-dark: #262626;
$td-border-color: #f8f8f8;
$td-border-color-dark: #2a2a2a;

// Font
$table-font-color: #3a3a3a;
$table-font-color-dark: #d7d7d7;

// Sort icon
$sort-icon-bg: #efefef;
$sort-icon-bg-dark: #282828;
$sort-icon-color: #222222;
$sort-icon-color-dark: #bbbbbb;

.table_samf {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: $table-bg;
  color: $table-font-color;
  border-radius: 0.25em;
  overflow: hidden;
  @include theme-dark {
    background-color: $table-bg-dark;
    color: $table-font-color-dark;
  }
}

thead {
  border-bottom: 1px solid $thead-border-color;

  @include theme-dark {
    border-color: $thead-border-color-dark;
  }
}

tbody {
  tr {
    border-bottom: 1px solid $tr-border-color;

    @include theme-dark {
      border-color: $tr-border-color-dark;
    }
  }

  tr:hover {
    background-color: $table-bg-hover;

    @include theme-dark {
      background-color: $table-bg-hover-dark;
    }
  }
}

td {
  padding: 0.5em 1em;
  color: $table-font-color;
  font-size: 1em;

  @include theme-dark {
    color: $table-font-color-dark;
    border-right: 1px solid $td-border-color-dark;
    border-left: 1px solid $td-border-color-dark;
  }
}

th {
  padding: 1em 0.75em;
  font-size: 1.1em;
  font-weight: 600;

  &:hover {
    background-color: $table-bg-hover;

    @include theme-dark {
      background-color: $table-bg-hover-dark;
    }
  }
}

.sortable_th {
  cursor: pointer;
  transition: 0.2s;
}

.sort_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;

  .icon {
    background-color: transparent;
    padding: 2px;
    border-radius: 4px;
  }

  .active_icon {
    background-color: $sort-icon-bg;
    color: $sort-icon-color;

    @include theme-dark {
      background-color: $sort-icon-bg-dark;
      color: $sort-icon-color-dark;
    }
  }
}

.expandableRow {
  cursor: pointer;
}

.childTable {
  width: 95%;
  border-collapse: collapse;
  border-radius: 0.9em;
  border-top: solid 0.5em $grey-5;
  border-bottom: solid 0.5em $grey-5;
  color: $table-font-color;
  overflow: hidden;
  @include theme-dark {
    background-color: $table-bg-dark;
    color: $table-font-color-dark;
  }
  th {
    font-size: 1em;
  }
}

/* stylelint-enable */
