@use 'src/constants' as *;
@use 'src/mixins' as *;

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.formWrapper {
  max-width: 640px;
}

.headerTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.headerSubtitle {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.picker {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.choiceWrapper {
  position: relative;
  padding-left: 40px;
}

.radioInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  border: 2px solid black;
  border-radius: 50%;
  background: white;

  &:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
  }

  &:focus-visible {
    outline: 3px solid #ffdd00;
    outline-offset: 3px;
  }
}

.radioLabel {
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
}

.description {
  color: #505a5f;
  font-size: 1rem;
  margin: 5px 0 0 0;
}

.button {
  background: #00703c;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 2px 0 #002d18;

  &:hover {
    background: #005a30;
  }
  &:active {
    position: relative;
    top: 2px;
    box-shadow: none;
  }
}
