@use 'src/constants' as *;

@use 'src/mixins' as *;

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.formWrapper {
  max-width: 640px;
}

.caption {
  display: block;
  font-size: 1.25rem;
  color: $grey-1;
  margin-bottom: 5px;
  font-weight: 400;
}

.headerTitle {
  color: $black-1;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.1;
}

.picker {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.choiceWrapper {
  position: relative;
  padding-left: 40px;
}

.radioInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  border: 2px solid $black;
  border-radius: 50%;
  background: $white;

  &:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background: $black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &:focus-visible {
    outline: 3px solid $orange-light;
    outline-offset: 3px;
  }
}

.radioLabel {
  color: $black-1;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
}

.description {
  color: $grey-1;
  font-size: 1rem;
  margin: 5px 0 0 0;
}

.button {
  background: $will_contact;
  color: $white;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 2px 0 $black_2;

  &:hover {
    filter: brightness(0.9);
  }
  &:active {
    position: relative;
    top: 2px;
    box-shadow: none;
  }
}

.backLink {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  color: $black-1;
  text-decoration: underline;
  text-underline-offset: 3px;

  &:hover {
    color: $grey-1;
    text-decoration-thickness: 2px;
  }

  &:focus-visible {
    outline: 3px solid $orange-light;
    outline-offset: 2px;
  }
}

.backIcon {
  margin-right: 2px;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
}
