@use 'sass:color';

@use 'src/constants' as *;

@use 'src/mixins' as *;

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.formWrapper {
  max-width: 640px;
  display: flex;
  flex-direction: column;
}

.caption {
  display: block;
  font-size: 1.25rem;
  color: $grey-1;
  margin-bottom: 5px;
  font-weight: 400;

  @include theme-dark {
    color: $grey-3;
  }
}

.headerTitle {
  color: $black-1;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.1;

  @include theme-dark {
    color: $white;
  }
}

.picker {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.choiceWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 22px 30px;
  border: 2px solid $grey-35;
  background-color: $white;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: left;
  font-family: inherit;
  text-decoration: none;

  @include theme-dark {
    background-color: $theme_dark_input_bg;
    border-color: $grey-1;
  }

  &:link,
  &:visited {
    color: inherit;
  }

  @include theme-dark {
    color: $white;
  }

  &:hover {
    border-color: $red_samf_hover;
    background-color: $grey-5;

    @include theme-dark {
      background-color: $black-2;
      border-color: $red_samf;
    }
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.radioLabel {
  display: block;
  color: $black-1;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 4px;

  @include theme-dark {
    color: $white;
  }
}

.description {
  color: $grey-1;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;

  @include theme-dark {
    color: $grey-3;
  }
}

.arrowIcon {
  font-size: 2.5rem;
  color: $black-1;
  margin-left: 20px;
  flex-shrink: 0;

  @include theme-dark {
    color: $white;
  }
}

.backLink {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
  color: $black-1;
  text-decoration: underline;
  text-underline-offset: 3px;

  @include theme-dark {
    color: $theme_dark_color;
  }

  &:hover {
    color: $grey-1;
    text-decoration-thickness: 2px;

    @include theme-dark {
      color: $white;
    }
  }

  &:focus-visible {
    outline: 3px solid $orange-light;
    outline-offset: 2px;
  }
}

.backIcon {
  margin-right: 4px;
  font-size: 1.2rem;
  text-decoration: none;
}
