@use 'src/constants' as *;

@use 'src/mixins' as *;

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.formWrapper {
  max-width: 640px;
}

.caption {
  display: block;
  font-size: 1.25rem;
  color: $grey-1;
  margin-bottom: 5px;
  font-weight: 400;

  @include theme-dark {
    color: $grey-3;
  }
}

.headerTitle {
  color: $black-1;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.1;

  @include theme-dark {
    color: $white;
  }
}

.picker {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.choiceWrapper {
  position: relative;
  display: block;
  padding: 20px 20px 20px 60px;
  border: 2px solid $grey-35;
  background-color: $white;
  cursor: pointer;
  margin-bottom: 15px;

  &:hover {
    border-color: $red_samf_hover;
    background-color: $grey-5;
  }

  &:has(.radioInput:checked) {
    border-color: $red_samf;
    background-color: $red_lighter;
    box-shadow: 0 0 0 1px $red_samf;
  }

  @include theme-dark {
    background-color: $theme_dark_input_bg;
    border-color: $grey-1;

    &:hover {
      background-color: $black-2;
      border-color: $red_samf_faded;
    }

    &:has(.radioInput:checked) {
      background-color: $black-1;
      border-color: $red_samf;
      box-shadow: 0 0 0 1px $red_samf;
    }
  }
}

.radioInput {
  position: absolute;
  left: 20px;
  top: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  border: 2px solid $black;
  border-radius: 50%;
  background: $white;

  &:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background: $black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  @include theme-dark {
    border-color: $white;
    background: $theme_dark_input_bg;

    &:checked::after {
      background: $white;
    }
  }

  &:focus-visible {
    outline: 3px solid $orange-light;
    outline-offset: 3px;
  }
}

.radioLabel {
  display: block;
  color: $black-1;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 4px;

  @include theme-dark {
    color: $white;
  }
}

.description {
  color: $grey-1;
  font-size: 1rem;
  margin: 0;
  line-height: 1.5;

  @include theme-dark {
    color: $grey-3;
  }
}

/* --- Knapper --- */
.button {
  background: $will_contact;
  color: $white;
  padding: 12px 24px;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 0 $black_2;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    position: relative;
    top: 2px;
    box-shadow: none;
  }

  &:focus-visible {
    outline: 3px solid $orange-light;
    outline-offset: 2px;
  }
}

/* --- Tilbake-lenke --- */
.backLink {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
  color: $black-1;
  text-decoration: underline;
  text-underline-offset: 3px;

  @include theme-dark {
    color: $theme_dark_color;
  }

  &:hover {
    color: $grey-1;
    text-decoration-thickness: 2px;

    @include theme-dark {
      color: $white;
    }
  }

  &:focus-visible {
    outline: 3px solid $orange-light;
    outline-offset: 2px;
  }
}

.backIcon {
  margin-right: 4px;
  font-size: 1.2rem;
  text-decoration: none;
}
