@import 'src/mixins';

@import 'src/constants';

$mobile-width: $primary-content-width-mobile;
$card-border-radius: 0.5rem;
$subtitle-max-height: 1rem;
$card-gradient-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.54) 80%, rgba(0, 0, 0, 0.6) 100%);
$card-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);

$card-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$card-box-shadow-hover: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
// TODO color variables

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25em;
  width: 20em;
  overflow: visible;

  // For transform overflow
  padding-top: 3px;

  @include for-mobile-only {
    max-width: $mobile-width;
  }
}

.card {
  border-radius: $card-border-radius;
  transition: 0.2s;
  box-shadow: $card-box-shadow;
  background-size: cover;
  background-position: center;
  min-height: 11em;
  max-height: 11em;
  height: 11em;
  cursor: pointer;
}

.card_inner {
  border-radius: $card-border-radius;
  width: 100%;
  height: 100%;
  background: $card-gradient-overlay;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.75rem;
}

.card_content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  word-break: break-word;
  transition: .2s;
  color: $white;
}

.subtitle {
  transition: .1s;
  color: $grey-5;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  font-weight: 700;
  font-size: 0.8rem;
  max-height: $subtitle-max-height;
}

.date_label {
  font-weight: 700;
  color: $grey-4;
}

.bottom_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: $grey-4;
  opacity: 0;
  transition: 0.2s;
  overflow: hidden;
  max-height: 0;
  text-shadow: $card-text-shadow;

  @include for-mobile-only {
    display: none;
  }
}

.compact {
  width: 14em;
  @include for-mobile-only {
    width: $mobile-width;
  }
}

.compact .card {
  min-height: 8em;
  max-height: 8em;
  height: 8em;

  @include for-mobile-only {
    margin-top: 1em;
    min-height: 12em;
    max-height: 12em;
    height: 12em;
  }
}

.compact .date_label {
  display: none;
}

.edit_button {
  visibility: hidden;
}

.ticket_type{
  font-size: 0.7rem;
}

// Styling to container and children when it is hovered.
.container:hover {
  .edit_button {
    visibility: visible;
  }
  .card {
    transform: translateY(-3px);
    box-shadow: $card-box-shadow-hover;
    text-decoration: none;
  }
  @include for-tablet-up {
    .subtitle {
      max-height: 0;
      opacity: 0;
    }
  }
  .card_content {
    transform: none;
  }
  .bottom_description {
    opacity: 1;
    max-height: 3.5em;
  }
}

// Compact doesn't show description on hover
.compact:hover {
  .subtitle {
    opacity: 1;
    max-height: $subtitle-max-height;
  }
  .bottom_description {
    opacity: 0;
    max-height: 0;
  }
}
