@import 'src/mixins';

@import 'src/constants';

$mobile-width: $primary-content-width-mobile;
$date-label-color: #888888;
$card-background: #222222;
$description-color: #aaaaaa;
// TODO color variables

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 0.25em;
  height: 16em;
  width: 20em;
  overflow: visible;

  // For transform overflow
  padding-top: 3px;

  @include for-mobile-only {
    max-width: $mobile-width;
    height: 13em;
  }
}

.card {
  border-radius: 1em;
  flex-basis: 100%;
  transition: 0.2s;
  box-shadow: 0 0 5px 3px $black-t10;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.default_image {
  background-image: url('~/assets/banner-sample-2.jpeg');
}

.bottom_label {
  font-weight: 700;
  padding-left: 0.4em;
  padding-right: 0.4em;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.bottom_description {
  color: $description-color;
  padding-left: 0.3em;
  padding-right: 0.3em;
  opacity: 0;
  transition: 0.2s;
  transform: translateY(1em);

  @include for-mobile-only {
    display: none;
  }
}

.date_label {
  font-weight: 400;
  color: $date-label-color;
}

.compact {
  height: 9em;
  width: 12em;
}

.compact .bottom_description {
  display: none;
}

.compact .date_label {
  display: none;
}

.edit_button {
  visibility: hidden;
}

// Styling to container and children when it is hovered.
.container:hover {
  .edit_button {
    visibility: visible;
  }
  .card {
    transform: translateY(-3px);
    box-shadow: 0 3px 8px 2px $black-t25;
  }
  .bottom_description {
    opacity: 1;
    transform: none;
  }
}
