@import 'src/mixins';

@import 'src/constants';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: .25em;
  height: 16em;
  width: 20em;
  overflow: visible;
}

.card {
  background-color: #222;
  border: 1px solid #ddd;
  border-radius: 1em;
  flex-basis: 100%;
  transition: .2s;
  max-width: 80vw;
  cursor: pointer;

  background-image: url("~/assets/banner-sample-2.jpeg");
  background-size: cover;
  background-position: center;

}

.top_label {
  font-weight: bold;
  padding-left: .4em;
  padding-right: .4em;
  display: none;

  @include for-mobile-only {
    display: flex;
    justify-content: space-between;
  }

}

.bottom_label {
  font-weight: bold;
  padding-left: .4em;
  padding-right: .4em;
  display: flex;
  justify-content: space-between;

  @include for-mobile-only {
    display: none;
  }

}

.bottom_description {
  color: #aaa;
  padding-left: .3em;
  padding-right: .3em;
  opacity: 0;
  transition: .2s;
  transform: translateY(1em);

  @include for-mobile-only {
    transform: none;
    opacity: 1;
  }

}

.container:hover {
  .card {
    border: 1px solid #aaa;
  }
  .bottom_description {
    opacity: 1;
    transform: none;
  }
}

.date_label {
  font-weight: lighter;
  color: #888;
}
