@import 'src/constants';

@import 'src/mixins';

$panel-width: 13em;

.wrapper {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  height: 100vh;
}

.panel {
  position: fixed;
  height: calc(100% - $navbar-height);
  min-width: $panel-width;
  max-width: $panel-width;
  background-color: $white;
  border-right: 1px solid $grey-4;
  display: flex;
  flex-direction: column;
  margin-top: $navbar-height;
  gap: .2em;

  @include for-mobile-only {
    display: none;
  }

  @include theme-dark {
    background-color: $theme-dark-bg;
    border-color: $black;
  }
}

.panel_header {
  @include flex-row;
  font-weight: 700;
  background-color: $red-samf;
  margin-bottom: 1em;
  color: white;
  padding: 1em;
  gap: .5em;
}

.panel_item {
  @include shadow-light;
  @include flex-row;
  text-align: right;
  gap: 1em;
  background-color: white;
  border-bottom: 1px solid $grey-4;
  border-top: 1px solid $grey-4;
  padding: .5em 1em;
  cursor: pointer;
  transition: .2s;
  color: black;

  @include theme-dark {
    color: white;
    background-color: $grey-1;
    border-color: $black;
  }
  
  &:hover {
    color: $blue;
  }
}

.selected {
  background-color: $blue;
  color: white;
  @include theme-dark {
    background-color: $blue;
  }
  &:hover {
    color: white;
  }
}

.content_wrapper {
  flex: 1;
  height: calc(100vh - $navbar-height);
  margin-top: $navbar-height;
  padding-left: calc($panel-width + 1em);
  padding-right: 1em;

  @include for-mobile-only {
    padding-left: 0;
  }

}
