@use '../../constants' as c;

@use '../../mixins' as m;

@use '../../styles/colors' as col;

.wrapper {
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - #{c.$navbar-height});
  height: calc(100vh - #{c.$navbar-height});
  margin-top: c.$navbar-height;

  @include m.for-mobile-down {
    flex-direction: column;
  }
}

.panel {
  background-color: col.$white-50;
  border-right: 1px solid col.$gray-100;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  opacity: 1;
  transition: transform 0.2s ease-in-out;
  padding-bottom: 2.5em;
  position: relative;

  @include m.for-mobile-only {
    position: fixed;
    height: calc(100% - #{c.$navbar-height});
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: initial;
  }

  @include m.theme-dark {
    background-color: col.$gray-950;
    border-color: col.$gray-800;
  }
}

.panel_closed {
  @include m.for-mobile-down {
    transform: translateX(-100%);
  }
}

.panel:not(.panel_closed) {
  min-width: 250px;
}

.mobile_open_button {
  padding: 1.5rem 0.25rem;
  position: fixed;
  background-color: col.$black-900;
  color: col.$white-50;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.8;
  backdrop-filter: blur(16px);
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 1;
  }

  @include m.theme-dark {
    background-color: col.$white-50;
    color: col.$black-900;
  }
}

.mobile_panel_backdrop {
  display: none;
  @include m.for-mobile-only {
    display: initial;
    border: none;
    border-radius: 0;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
  }
}

.panel_close_btn {
  padding: 0.5rem;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: col.$gray-500;
  border-radius: 0.5em;

  &:hover {
    color: c.$black;
    background: col.$gray-50;
  }

  @include m.theme-dark {
    color: col.$gray-100;

    &:hover {
      background-color: col.$gray-800;
    }
  }
}

.panel_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.25em;
  padding: 0.5em 0.75em 0.75em;
  margin-top: 0.25em;

  @include m.theme-dark {
    border-color: c.$grey-1;
  }
}

.category_header {
  font-weight: 600;
  padding-left: 1.25em;
  padding-bottom: 0.5em;
}

.panel_item {
  @include m.flex-row;
  text-align: right;
  gap: 1em;
  padding: 0.5em 0.5em 0.5em 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  transition: 0.2s;
  color: c.$grey-1;
  text-decoration: none;
  border-radius: 0.5em;
  white-space: nowrap;

  @include m.theme-dark {
    color: col.$gray-100;
  }

  &:hover {
    text-decoration: none;
    background-color: col.$gray-50;

    @include m.theme-dark {
      background-color: col.$gray-800;
    }
  }
}

.panel_item_button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  width: 100%;
}

.selected {
  background-color: col.$red-50;
  color: col.$samf-red-700;
  font-weight: 500;

  @include m.theme-dark {
    background-color: col.$red-900;
    color: col.$samf-red-500;

    &:hover {
      background-color: col.$red-800;
    }
  }

  &:hover {
    background-color: col.$red-100;
  }
}

.content_wrapper {
  flex: 1;
  overflow: auto;
  background-color: col.$white-300;

  @include m.theme-dark {
    background-color: col.$black-800;
  }
}

.closed_panel_content_wrapper {
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.bottom_items {
  margin-top: auto;
}

.separator {
  width: 80%;
  margin: 0.5em auto;
  border: none;
  border-top: 1px solid col.$gray-100;

  @include m.theme-dark {
    border-color: c.$grey-1;
  }
}
