@import 'src/mixins';

@import 'src/constants';

.container {
  padding-top: 2em;
}

.header {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: .5em;
  font-size: 1.5em;
  font-weight: 700;
  gap: .5em;
}

.wisewords {
  color: inherit;
  font-weight: 600;
  font-size: medium;
  opacity: 0.5;
}

.preferences_header {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 700;
}

.preference_row {
  display: flex;
  align-items: center;
  gap: .5em;
}

.label {
  width: 15em;
}
