@import 'src/mixins';

@import 'src/constants';

.wrapper {
  margin: 1em 1em;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.header {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 1em;
  .headerText {
    font-size: 2em;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
  }
}

.wisewords {
  color: inherit;
  font-weight: 600;
  font-size: medium;
  opacity: 0.5;
}

.faq_button {
  border-color: $grey-1;
  padding: 0.3em 0.8em;
  text-transform: uppercase;
  margin-top: 1em;
  .faq_text {
    margin: 0;
    font-size: .9em;
    color: inherit;
  }
}

.applets {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
