@import 'src/constants';

@import 'src/mixins';

.timeslot {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid $grey-35;
  color: inherit;
  cursor: pointer;
  background: none;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  @include theme-dark {
    border-color: $grey-0;
    color: $grey-35;
  }
}

.dot {
  $size: 4px;
  width: $size;
  height: $size;
  border-radius: $size;
  display: inline-block;
  border: 1px solid $grey-0;

  @include theme-dark {
    border-color: $grey-2;
  }
}

.timeslot_active {
  border-color: $red;
  color: $red;

  .dot {
    background: $red;
    border-color: $red;
  }

  @include theme-dark {
    color: $red;
    border-color: $red;
  }
}

.timeslot_disabled {
  border-color: $grey-3;
  color: $grey-3;
  cursor: not-allowed;

  .dot {
    background: $grey-3;
  }
}

.timeslot_only_one_valid {
  border-color: $green;
  color: $green;
  cursor: pointer;

  .dot {
    background: $green;
  }
}
