@use 'src/mixins' as *;

@use 'src/constants' as *;

.wrapper {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 1em;
    @include for-tablet-up {
      flex-direction: row;
    }
  }
  