@import 'src/constants';

@import 'src/mixins';

/* The animation code */
@keyframes spinner-appear-after-delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes outer-anim {
  0% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes middle-anim {
  0% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes inner-anim {
  0% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-270deg);
  }
}

$ease-func: ease-out;
$delay: 0.25s;
$time: 1.75s;

/* The element to apply the animation to */
.spinning_logo {
  /* stylelint-disable-next-line function-no-unknown */
  color: lighten($grey-3, 1000%);
  max-width: 5em;
  max-height: 5em;
  opacity: 0;
  animation: spinner-appear-after-delay .5s 0.25s forwards;

  @include theme-dark {
    /* stylelint-disable-next-line function-no-unknown */
    color: darken($grey-1, 25%);
  }
  
  // These aren't actually global in the context of the module parent class.
  // This is required to ensure class names are not hashed because the
  // raw class name string is used in the SamfundetLogo SVG definition

  :global(.outer) {
    transform-origin: center;
    animation: outer-anim $time $delay $ease-func infinite normal;
  }

  :global(.middle) {
    transform-origin: center;
    animation: middle-anim $time $delay $ease-func infinite normal;
  }

  :global(.inner) {
    transform-origin: center;
    animation: inner-anim $time $delay $ease-func infinite normal;
  }

}




