@import 'src/constants';

@import 'src/mixins';


.container {
  width: 100%;
  border: 2px solid $grey-3;
  overflow: hidden;

  @include theme-dark{
    border: 1px solid $grey-0;
  }
}

.parent {
  border-radius: 10px;
  border-color: $grey-4;
  background-color: $grey_4;

  @include theme-dark{
    background-color: #1d0809;
    border-color: transparent;
  }
}

.child {
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 10px;
  width: auto;

  @include theme-dark{
    border-color: transparent;
  }
}

.extendable_header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  background: $grey_4;
  padding: 0.5em 1.5em 0.5em 1em;
  color: $black;
  cursor: pointer;
  border: 0;
  outline: none;
  text-align: left;

  @include theme-dark{
    background-color: #1d0809;
    color: white;
  }
}

.extendable_header_wrapper:hover{
  background-color: #dbdbdb;

  @include theme-dark{
    background-color: #1d0809;
  }
}

.extendable_header_title {
  display: block;
  flex-basis: 95%;
  padding: 0;
  margin: 0;
}

.expandable_header_arrow {
  flex-basis: 5%;
  height: 35px;
  width: 35px;
  pointer-events: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: 400;
}

.expandable_header_arrow.open {
  transform: rotate(-180deg);
}
