@use 'src/constants' as *;

@use 'src/mixins' as *;

.container {
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 1px solid transparent;

  @include theme-dark {
    border-color: $grey-0;
  }
}

.extendable_header_wrapper {
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  background-color: $grey-4;
  color: $black-2;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: left;
  transition:
    background-color 0.05s ease,
    color 0.05s ease;

  &:hover {
    background-color: $grey-35;
  }

  @include theme-dark {
    background-color: $grey-0;
    color: $white;

    &:hover {
      background-color: $grey-1;
    }
  }
}

.extendable_header_title {
  margin: 0;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
}

.expandable_header_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
  transform-origin: center;
}

.chevron {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: currentcolor;
  vertical-align: middle;
  transform: rotate(135deg);
  margin-top: -4px;
}

.expandable_header_arrow.open {
  transform: rotate(180deg);
}

.expandable_header_arrow.closed {
  transform: rotate(0deg);
}

.content_wrapper {
  padding: 1rem;
  background-color: $white;

  @include theme-dark {
    background-color: $theme-dark-input-bg;
    color: $white;
  }
}
