@import 'src/constants';

.container {
  width: 100%;
  border: 1px solid $grey-3;
  overflow: hidden;
}

.parent {
  border-radius: 10px;
  border-color: $grey_3;
  background-color: $grey_4;
}

.child {
  border: 1px solid $grey-3;
  border-radius: 10px;
  margin: 10px;
  width: auto;
}

.extendable_header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  background: $grey_4;
  padding: 0.5em 1.5em 0.5em 1em;
  color: $black;
  cursor: pointer;
  border: 0;
  outline: none;
  text-align: left;
}

.extendable_header_title {
  display: block;
  flex-basis: 95%;
  padding: 0;
  margin: 0;
}

.expandable_header_arrow {
  flex-basis: 5%;
  height: 35px;
  width: 35px;
  pointer-events: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: 400;
}

.expandable_header_arrow.open {
  transform: rotate(-180deg);
}
