@import 'src/constants';

.container {
  width: 100%;
}

.extendable_header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  background: $red-samf;
  padding: 0.5em 1.5em 0.5em 0.5em;
  color: $white;
  cursor: pointer;
  border: 0;
  outline: none;
  text-align: left;
}

.extendable_header_title {
  display: block;
  flex-basis: 75%;
  padding: 0;
  margin: 0;
}

.expandable_header_arrow {
  flex-basis: 25%;
  height: 35px;
  width: 35px;
  pointer-events: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.expandable_header_arrow.open {
  transform: rotate(-180deg);
}
