@use 'src/constants' as *;

@use 'src/mixins' as *;

$bbc-header-bg: #e6e6e6;
$bbc-header-hover: #d6d6d6;
$bbc-text: #1f1f1f;
$bbc-border: #b3b3b3;

.container {
  width: 100%;
  margin-bottom: 1rem;
  font-family: sans-serif;
  border-radius: 0;
  overflow: hidden;

  border: 1px solid transparent;

  &.open {
    border-color: $grey-3;
  }

  @include theme-dark {
    border-color: transparent;
  }
}

.extendable_header_wrapper {
  appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  background-color: $bbc-header-bg;
  color: $bbc-text;
  border: none;
  border-bottom: 1px solid $grey-3;
  cursor: pointer;
  outline: none;
  text-align: left;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $bbc-header-hover;
  }

  &.closed {
    border-bottom: 1px solid transparent;
  }

  @include theme-dark {
    background-color: #2c2c2c;
    color: white;
    border-bottom-color: #444;

    &:hover {
      background-color: #383838;
    }
  }
}

.extendable_header_title {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
}

.expandable_header_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.chevron {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: currentColor;
  vertical-align: middle;

  transform: rotate(135deg);
  margin-top: -4px;
}

.expandable_header_arrow.open {
  transform: rotate(180deg);
}

.expandable_header_arrow.closed {
  transform: rotate(0deg);
}

.content_wrapper {
  background-color: white;
  padding: 1rem;

  @include theme-dark {
    background-color: #1d0809;
    color: white;
  }
}
