@import 'src/constants';

.input_samf {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.input_field {
  padding: 8px;
  display: block;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
}

.input_field:focus {
  outline: 1px solid rgb(80, 80, 80);
  border: none;
}
