@use '../../mixins' as m;

@use '../../styles/colors' as c;

.date,
.datetimeLocal,
.email,
.month,
.number,
.password,
.search,
.tel,
.text,
.time,
.url,
.week {
  @include m.base-input;
}

/* stylelint-disable no-descending-specificity */
// Hide up and down buttons unless hover/focus
.number {
  -webkit-appearance: textfield;

  &:hover,
  &:focus {
    -moz-appearance: initial;
  }
}
/* stylelint-enable no-descending-specificity */

.label {
  position: relative;
  flex: 1;
  width: 100%;
}

.icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  font-size: 22px;
  color: c.$gray-300;
  transform: translateY(-50%);
  user-select: none;
  pointer-events: none;

  @include m.theme-dark {
    color: c.$gray-500;
  }
}

.label:has(.icon) .input {
  padding-right: 2rem;
}
