.wrapper {
  margin: 2rem auto;
}

.button_bar {
  padding: 10px;
  visibility: hidden;
  justify-content: flex-end;
  display: flex;
  gap: 5px;
}

.image_card:hover {
  .button_bar {
    visibility: visible;
  }
}
