@use 'src/mixins' as *;

@use 'src/constants' as *;

.carousel {
  padding-bottom: 2em;
  max-width: 100%;
  overflow: hidden;
}

.carousel_item:first-child {
  padding-left: 0;
}

.tableContainer {
  margin-top: 1em;
  border-radius: 0.2em;
  overflow-x: scroll;
}

.template_search_container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 20rem;

  @include for-mobile-only {
    width: 100%;
  }
}

.header_button {
  align-self: flex-start;
}

.template_search_label {
  font-weight: 600;
}
