@use '~/constants' as *;

@use '~/mixins' as *;

.custom_ticket_container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  gap: 1.5em;
}

.add_custom_ticket {
  flex-basis: 100%;
}

.custom_ticket_input {
  border: 1px solid $grey-4;
}

.delete_button {
  margin-bottom: 0.25em;
}
