@use '~/constants' as *;

@use '~/mixins' as *;

.wrapper {
  padding: 1em;
  padding-top: calc($navbar-height + 2em);
  padding-bottom: 5em;
  max-width: $content-max-size;
  margin: 0 auto;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
