@use 'src/constants' as *;

@use 'src/mixins' as *;

.signup_button {
  margin: 1rem 0 0 auto;
}

.signup_failed_comment {
  color: $red;
  text-align: center;
  margin-top: 0.6em;
  font-size: 0.9em;
  font-weight: 700;
}
