@use 'src/constants' as *;

@use 'src/mixins' as *;

.login_container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.content_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 30em;
  max-width: 100%;
  margin-top: 2em;
}

.center {
  text-align: center;
}

.link {
  color: $red-samf;
  text-align: center;
  margin-top: 0.6em;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}
