@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  border-top: 1px solid #d9d9d9;
  border-bottom: 4px solid $red-samf;
  
  @include theme-dark {
    border-top-color: #262626;
  }
}

.main_footer {
  background: $grey-4;
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @include theme-dark {
    background: #151515;
  }
}

.sponsors_and_orgs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding: 1.5rem 0;
}

.logo_row {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include for-mobile-down {
    flex-direction: column;
  }
}

.logo {
  width: auto;
  height: 60px;
}

.contact {
  margin: 0 auto;
  line-height: 1.5rem;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin: 0.5rem 0;
}

.header {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
  opacity: 0.8;
}

.extra_info {
  font-size: 0.75em;
  font-weight: 200;
  text-align: center;
}

.contributors_link {
  font-size: 0.75rem;
  opacity: 0.8;
  text-decoration: none;
  margin-top: 0.5rem;
  display: inline-block;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
