@use 'src/mixins' as *;

@use 'src/constants' as *;

$event-header-height: 5em;

.events_container{
    margin: 0 auto;
    padding-top: $event-header-height;
    margin-top: 3.5em;
    padding-bottom: 5em;
    max-width: $content-max-size;
    
    @include for-mobile-only {
        margin-top: 9em;
    }
}

.event_day_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

