@import 'src/mixins';

@import 'src/constants';

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.header {
  display:flex;
  flex-direction: column;
  @include for-tablet-up {
    flex-direction: row;
  }
}