@import 'src/mixins';

@import 'src/constants';

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.center {
  margin-bottom: 10%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-tablet-down {
    margin-bottom: 10%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.filterColumn {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
  column-gap: 26px;
  -webkit-column-rule: 1px solid rgba(28,110,164,0.39);
  -moz-column-rule: 1px solid rgba(28,110,164,0.39);
  column-rule: 1px solid rgba(28,110,164,0.39);
  @include for-mobile-down {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 26px;
      -moz-column-gap: 26px;
      column-gap: 26px;
      -webkit-column-rule: 1px solid rgba(28,110,164,0.39);
      -moz-column-rule: 1px solid rgba(28,110,164,0.39);
      column-rule: 1px solid rgba(28,110,164,0.39);
  }

}

