@import 'src/constants';

@import 'src/mixins';

.modal {
  position: absolute;
  margin: auto;
  inset: 0.5em;
  overflow: auto;
  border-radius: 1em;
  outline: none;
  padding: 20px;
  z-index: 13;
  background-color: $white;
  max-width: $content-max-size;
  color: black;

  @include theme-dark {
    color: $white;
    border: 1px solid gray;
    background-color: $theme-dark-bg;
  }
  width: 50%;
  height: fit-content;
  @include for-mobile-only {
    width: 100%;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 13;
  background-color: rgba(black, 0.75);
}
