@import 'src/mixins';

@import 'src/constants';

.link {
  color: $red-samf;
  font-family: sans-serif;
}

.header {
  align-content: center;
  color: black;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 0.3em;

  @include theme-dark {
    color: $theme-dark-color;
  }
}

.header2 {
  font-weight: 550;
  font-size: 1.5em;
  font-family: sans-serif;
  margin-top: 0.3em;
  padding-bottom: 0.5em;
}

.info {
  text-align: left;
  box-sizing: inherit;
  place-content: center;
  font-size: 20px;
  font-family: sans-serif;
  padding: 0.5em;
}

.list {
  list-style: circle;
  padding-left: 1em;
}

.list_item {
  padding: 0.5em;
}
