@import 'src/constants';

.infobox_wrap,
.no_img_infobox_wrap {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.no_img_infobox_wrap {
  max-width: 60vw;
}
.infobox_txt_wrap {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
.no_img_infobox_txt_wrap {
  padding: 10px;
  height: fit-content;
  color: white;
}

.with_url,
.with_url:hover {
  text-decoration: none;
}

.without_url,
.without_url:hover {
  text-decoration: none;
  pointer-events: none;
}

.infobox_paragraph {
  padding: 0 7px 7px 7px;
  font-size: 1em;
  text-align: center;
  display: none;
}

.no_img_infobox_paragraph {
  display: block;
  padding: 0 7px 7px 7px;
  font-size: 1em;
  overflow: hidden;
}

.infobox_h1,
.no_img_h1 {
  font-size: 2em;
  font-weight: 700;
  padding: 0 7px 7px 7px;
}

.infobox_h1:hover,
.no_img_h1:hover {
  text-decoration: underline;
}
.img_wrap {
  height: 90px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.no_img_wrap {
  display: none;
}

.infobox_img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.7s ease-in-out;
}

.infobox_img:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 460px) {
  .infobox_paragraph {
    display: block;
    // text-align: left;
  }
  .infobox_txt_wrap {
    overflow: hidden;
    margin: 10px;
  }
}
@media only screen and (min-width: $tablet-bp-lower) {
  .infobox_wrap {
    display: flex;
    flex-direction: row;
  }
  .infobox_txt_wrap {
    height: 200px;
    width: 50%;
    margin: 0;
  }
  .infobox_paragraph {
    padding: 0 7px 7px 7px;
    font-size: 1em;
    text-align: center;
  }
  .img_wrap {
    height: 200px;
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
  .infobox_img {
    height: 200px;
    transition: transform 0.7s ease-in-out;
  }
}
