@import 'src/mixins';

@import 'src/constants';

.infobox_wrap,
.no_img_infobox_wrap {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  @include for-tablet-up {
    flex-direction: row;
  }
}

.no_img_infobox_wrap {
  align-items: center;
  justify-content: center;
}

.infobox_txt_wrap {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  @include for-tablet-up {
    height: 200px;
    width: 50%;
    margin: 0;
  }
  @include for-mobile-only {
    overflow: hidden;
  }
}

.no_img_infobox_txt_wrap {
  padding: 10px;
  height: fit-content;
  color: white;
}

.with_url,
.with_url:hover {
  text-decoration: none;
}

.without_url,
.without_url:hover {
  text-decoration: none;
  pointer-events: none;
}

.infobox_paragraph {
  padding: 0 7px 7px 7px;
  font-size: 1em;
  text-align: center;
  display: none;
  @include for-tablet-up {
    padding: 0 7px 7px 7px;
    font-size: 1em;
    text-align: center;
  }
  @include for-mobile-up {
    display: block;
  }
}

.no_img_infobox_paragraph {
  display: block;
  padding: 0 7px 7px 7px;
  font-size: 1em;
  overflow: hidden;
  text-align: center;
}

.infobox_h1,
.no_img_h1 {
  font-size: 2em;
  font-weight: 700;
  padding: 0 7px 7px 7px;
  text-align: center;
}

.infobox_h1:hover,
.no_img_h1:hover {
  text-decoration: underline;
}

.img_wrap {
  height: 90px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  @include for-tablet-up {
    height: 200px;
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
}

.no_img_wrap {
  display: none;
}

.infobox_img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.7s ease-in-out;
  @include for-tablet-up {
    height: 200px;
  }
}

.infobox_img:hover {
  transform: scale(1.1);
}
