@import 'src/constants';

@import 'src/mixins';

$error-color: red;

.input_field {
  @include rounded-lighter;
  padding: 0.75rem 1rem;
  border: 1px solid $grey-35;
  margin-top: 0.5em; // Make sure this is the same for all inputs that should be used together
  outline: none;
  font-weight: initial;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  &:focus {
    border-color: $grey-3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.1);
  }
  &.error {
    border: 1px solid $error-color;
  }

  @include theme-dark {
    border-color: $grey-0;
    &:focus {
      border-color: $grey-1;
      outline: 1px solid rgba(255, 255, 255, 0.6);
    }
  }
}

.error_container {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  max-height: 0;
}

.error_text {
  @include rounded;
  background-color: $error-color;
  color: $white;
  height: 1.5em;
  font-size: 0.75em;
  line-height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  transform: translateY(-1.5em);
}

.helpText {
  color: $grey-2;
  font-weight: 100;
  font-size: 1em;
}

.input_field:disabled {
  border: 1px solid transparent;
}

.disabled_label {
  opacity: 0.25;
}
