@import 'src/constants';

@import 'src/mixins';


.input_field {
  @include rounded;
  padding: 1em 1em;
  border: 1px solid transparent;
  outline: none;
  &:focus {
    outline: none;
    border: 1px solid $blue;
    background-color: $blue-lighter;
  }
}

.error {
  outline: 2px solid $red;
}

.error_text {
  color: $red;
}
