
@import 'src/constants';

@import 'src/mixins';

.tableHeader {
  background-color: $red-samf;
  border-top-right-radius: 0.2em;
  border-top-left-radius: 0.2em;
  padding: 0.5em;
  @include flex-row;
  justify-content: space-between;
}

.date {
  @include flex-row;
  text-align: right;
  gap: 1em;
  padding: .5em .5em;
  padding-left: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  transition: .2s;

  white-space: nowrap;

  font-weight: 700;
  font-size: 1.2em;
  color: $white;
  flex:1;
}
.dateIterator {
  @include flex-row;
  flex:0;
}

.iterateButton {
  height: 100%;
  padding : 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iterateButton {
  color: $white;
  &:hover { 
    filter: brightness(0.1);
    filter: contrast(0.1);
    -webkit-filter: brightness(0.1);
    -webkit-filter: contrast(0.1);
  }
  &:active { 
    filter: brightness(0.9);
    filter: contrast(0.9);
    -webkit-filter: brightness(0.9);
    -webkit-filter: contrast(0.9);

  }
}

.buttonsHeader {
  @include flex-row;
  gap: 0.5em;
}
