/* stylelint-disable selector-max-type */
/* TODO: fix later */
@import 'src/constants';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 30em;
  margin-bottom: 1em;
}

.splash {
  width: 100vw;
  min-height: 600px;
  max-height: 100vh;
  object-fit: cover;
  position: relative;
  left: 0;
  top: -$navbar-height;
  z-index: -1;
}

.splash_fade {
  width: 100vw;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)
  );
}

.content {
  position: relative;
  top: -$navbar-height;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;

  .inner_content {
    max-width:800px;

    .header {
      font-size: 2em;
      font-weight: 700;
      text-align: center;
      padding-top: 30px;
    }

    .button_row {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 20px;
      justify-content: center;
    }

    .text {
      text-align: left;
      margin-top: 50px;
    }
  }
}

.button {
  display: block;
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(160 48 51);
  color: white;
  border-radius: 0.2em;

  &:hover {
    filter: brightness(110%);
    transform: scale(1.01);
    transition: 0.2s;
  }
}
