/* stylelint-disable selector-max-type */
/* TODO: fix later */

@import 'src/constants';

@import 'src/mixins';

.splash {
  width: 100vw;
  min-height: 40vh;
  max-height: 100vh;
  object-fit: cover;
  position: relative;
  left: 0;
  top: -$navbar-height;
  z-index: -1;

  @include for-mobile-only {
    min-height: 215px;
  }
}

.splash_fade {
  width: 100vw;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(black, 0.6), transparent);

  @include for-mobile-only {
    height: 100px;
  }
}

.content {
  position: relative;
  top: -$navbar-height;
  // max-width: 100%; // QUESTION: Why is this needed?
}
