/* stylelint-disable selector-max-type */
/* TODO: fix later */

@import 'src/constants';

@import 'src/mixins';

.splash_container {
  max-width: 100%;
  min-width: 100%;
  width: 100vw;
  height: 100vh;
  max-height: 45vw;
  top: -$navbar-height;
  position: relative;
  overflow: hidden;
}

.splash {
  max-width: 100%;
  min-width: 100%;
  width: 100vw;
  height: 100vh;
  max-height: 45vw;
  object-fit: cover;
  position: absolute;

  @include for-mobile-only {
    min-height: 215px;
  }
}

.splash_second {
  z-index: -1;
  display: none;
}

@keyframes splash-slide-in {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes splash-slide-out {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

.splash_slide_in {
  animation-name: splash-slide-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: center;
  display: block;
}

.splash_slide_out {
  animation-name: splash-slide-out;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.splash_fade {
  width: 100vw;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(black, 0.6), transparent);

  @include for-mobile-only {
    height: 100px;
  }
}

.splash_info_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 12rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, transparent);
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.5rem;

  @include for-mobile-down {
    display: none;
  }
}

.splash_info {
  width: 1500px;
  margin: 0 auto;
  max-width: calc(100vw - 5rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.splash_buttons {
  display: flex;
  gap: 0.5rem;
}

.ticket_button {
  font-weight: 500;
}

.splash_description {
  color: $white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  width: 650px;
  max-width: 100%;
}

.content {
  position: relative;
  top: -$navbar-height;
  // max-width: 100%; // QUESTION: Why is this needed?
}
