/* stylelint-disable selector-max-type */
/* TODO: fix later */

@import 'src/constants';

@import 'src/mixins';


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0;
}

.logo {
  width: 30em;
  margin-bottom: 1em;
}

.splash {
  width: 100vw;
  min-height: 600px;
  max-height: 100vh;
  object-fit: cover;
  position: relative;
  left: 0;
  top: -$navbar-height;
  z-index: -1;

  @include for-mobile-only {
    min-height: 215px;
  }

}

.splash_fade {
  width: 100vw;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)
  );

  @include for-mobile-only {
    height: 100px;
  }
}

.content {
  position: relative;
  top: -$navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.inner_content {
  width: 100%;
  max-width: 800px;
}

.header {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
}

.button_row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.text {
  text-align: left;
  margin-top: 50px;
}

.button {
  display: block;
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(160 48 51);
  color: white;
  border-radius: 0.2em;

  &:hover {
    filter: brightness(110%);
    transform: scale(1.01);
    transition: 0.2s;
  }
}
