@use '../../../../styles/colors' as c;

@use '../../../../styles/variables' as v;

@use '../../../../mixins' as m;

.wrapper {
  //display: grid;
  //grid-template-columns: 2fr 1fr;
  //gap: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 900px;
  max-width: 100%;
}

.content_box {
  gap: 0.25rem;
}

.lang_tabs {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.slug_input_preview {
  margin-top: 0.25rem;
  font-size: v.$font-size-sm;
}

.lang_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hidden {
  display: none;
}

.warning {
  color: c.$red-500;
}

.slug_input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.hackgap {
  // TODO: hack to avoid having to fix dropdown styling...
  margin-top: 4px;
}

.checkbox {
  // TODO: hack to avoid having to fix dropdown styling...
  margin: 0;
}

.action_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.action_row_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.owner_field_container {
  width: 500px;
  max-width: 100%;
}

