@use 'src/mixins' as *;

@use 'src/constants' as *;

.admin_closed_switch {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border-radius: 10px;
  border: $red-samf 2px solid;
}
