.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.sub_container {
  margin-top: 1.5em;
}

.subHeader {
  margin-bottom: 0.4em;
}

.subText {
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
