@import 'src/constants';

.radio_button_samf {
  border: none;
  padding: 10px 25px;
  background-color: $red-samf;
  color: white;
}

.radio_button_secondary {
  border: none;
  padding: 10px 25px;
  background-color: $grey-3;
}
