@import 'src/constants';

.radioButton {
  display: inline-flex;
  align-items: center;
}

.radioButton_input {
  display: none;
}

.circle {
  position: relative;
  width: 20px;
  height: 20px;
  border: 3px solid $red-samf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.circle::after {
  content: '';
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  background: $red-samf;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}

.circle:hover {
  &::after {
    opacity: 0.5;
  }
}

.radioButton_input:checked ~ .circle:after {
  opacity: 1;
}
