@use "src/constants" as *;

@use "src/mixins" as *;

.modal {
  margin-top: 1rem;
  @include for-tablet-down {
    width: 70%;
  }
  @include for-mobile-only {
    width: 90%;
  }
}

.buy_ticket_modal_header {
  display: block;
  width: 100%;
}

.samf_logo {
  width: 250px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.close_btn {
  position: absolute;
  top: 20px;
  right:20px;
}

.container {
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.modal_title {
  color: $red-samf;
}

.ticket_selection_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ticket_select {
  display: flex;
  border-bottom: 1px solid $grey-4;
  padding-top: 0.15rem;
  flex: 0.5;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select_label {
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.price_label {
  padding-bottom: 0.5rem;
}

.ticket_type {
  background-color: $grey-4;
  border-radius: 0.15rem;
  @include theme-dark {
    background-color: $theme-dark-input-bg;
  }
}

.ticket_type_fields {
  display: flex;
  @include for-tablet-down {
    flex-direction: column;
  }
}

.ticket_type_field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0.5;
  padding: 1rem;
}

.radio_box {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.input_field {
  @include theme-dark {
    color: $black;
  }
}

.link {
  color: $red-samf;
  text-decoration: none;
}

.total_price {
  font-size: 1.2rem;
  font-weight: 700;
  color: $black;
  margin-top: 1rem;
  @include theme-dark {
    color: $white;
  }
}

.pay_button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: $green;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 1rem;

  &:hover {
    filter: brightness(110%);
  }
}

.ticketless_description_p {
  font-size: 0.75rem;
}