@import 'src/constants';

.button__samf {
  border: none;
  padding: 10px 25px;
  background-color: $red-samf;
  color: white;
}

.button__secondary {
  border: none;
  padding: 10px 25px;
  background-color: $grey-3;
}
