/* stylelint-disable declaration-no-important */
@import 'src/constants';

@import 'src/mixins';

.button {
  @include flex-row;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25em;
  transition: 0.15s;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.05);
  justify-content: center;

  // Remove underline when button is a link
  &, &:hover {
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.5;
    background-color: $grey-3;
    color: $grey-1;
    cursor: not-allowed;
  }

  &:hover:not([disabled]) {
    filter: brightness(120%);
    transition: 0.15s;
    box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.05);
  }
}

.button_basic {
  background-color: white;
  color: black;
}

.button_samf {
  background-color: $red-samf;
  color: white;
}

.button_uka {
  background-color: $blue-uka;
  color: white;
}

.button_isfit {
  background-color: $blue-isfit;
  color: white;
}

.button_lyche {
  background-color: $sulten-orange;
  color: white;
}

.button_success {
  background-color: $green;
  color: white;
}

.button_blue {
  background-color: $blue;
  color: white;
}

.button_secondary {
  border: none;
  padding: 10px 25px;
  background-color: $grey-3;
  color: white;
}

.button_outlined {
  background-color: inherit;
  border: 1px solid $grey-1;
  transition: 0.15s;

  &:hover:not([disabled]) {
    border-color: $red-samf;
    color: $red-samf;
    transition: 0.15s;
  }
}

.button_black {
  background-color: $black;
  color: white;
  transition: 0.15s;

  &:hover:not([disabled]) {
    background-color: $grey-1;
    transition: 0.15s;
  }
}

.button_white {
  background-color: $white;
  color: black;
  transition: 0.15s;

  &:hover:not([disabled]) {
    filter: brightness(85%);
    transition: 0.15s;
  }
}

.button_green {
  background-color: $green;
  color: white;
  transition: 0.15s;

  &:hover:not([disabled]) {
    filter: brightness(110%);
    transition: 0.15s;
  }
}

.display_basic {
  padding: 10px 25px;
}

.display_pill {
  padding: 0.3em 0.4em;
}

.display_block {
  padding: 10px 25px;
  width: 100%;
}

.rounded {
  border-radius: 10000px;
}

.pure {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}
