/* stylelint-disable declaration-no-important */
@use 'src/constants' as *;

@use 'src/mixins' as *;

@use 'src/styles/variables' as v;

@use 'src/styles/colors' as c;

@use 'sass:color';

.button {
  @include flex-row;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: v.$border-radius-md;
  justify-content: center;
  font-size: v.$font-size;
  transition: background-color 0.04s ease-in-out;
  font-weight: v.$font-weight-medium;
  border: 1px solid transparent;

  // Remove underline when button is a link
  &,
  &:hover {
    text-decoration: none;
  }
}

.button:disabled,
.button:disabled:hover {
  background-color: c.$gray-300;
  color: c.$gray-50;
  cursor: not-allowed;
}


// Redesigned buttons

.button_primary {
  background-color: c.$samf-red-700;
  color: c.$red-50;

  &:hover {
    background-color: color.adjust(c.$samf-red-700, $lightness: -5%);
  }
}

.button_secondary {
  background-color: c.$white-50;
  color: c.$gray-700;
  border-color: c.$gray-200;

  &:hover {
    background-color: c.$gray-100;
  }

  @include theme-dark {
    background-color: c.$gray-900;
    color: c.$gray-100;
    border-color: c.$gray-800;

    &:hover {
      background-color: color.adjust(c.$gray-900, $lightness: 4%);
    }
  }
}

.button_success {
  background-color: c.$green-700;
  color: c.$green-50;

  &:hover {
    background-color: color.adjust(c.$green-700, $lightness: -8%);
  }
}

.button_danger {
  background-color: c.$gold-600;
  color: c.$white-50;

  &:hover {
    background-color: color.adjust(c.$gold-600, $lightness: -8%);
  }
}

.button_ghost {
  background-color: transparent;
  color: c.$gray-700;

  &:hover {
    background-color: c.$gray-100;
  }

  @include theme-dark {
    color: c.$white-50;

    &:hover {
      background-color: c.$gray-800;
    }
  }
}

.button_uka {
  background-color: c.$uka-blue;
  color: c.$white-50;

  &:hover {
    background-color: color.adjust(c.$uka-blue, $lightness: -6%);
  }
}

.button_isfit {
  background-color: c.$isfit-primary;
  color: c.$white-50;

  &:hover {
    background-color: color.adjust(c.$isfit-primary, $lightness: -5%);
  }
}

.button_black {
  background-color: c.$gray-950;
  color: c.$white-50;

  &:hover {
    background-color: c.$gray-800;
  }
}

.button_white {
  background-color: c.$white-50;
  color: c.$gray-800;

  &:hover {
    background-color: c.$gray-100;
  }
}


////// old



.button_basic {
  background-color: white;
  color: black;
}

.button_blue {
  background-color: $blue;
  color: white;
}


.button_green {
  background-color: $green;
  color: white;
  transition: 0.15s;

  &:hover:not([disabled]) {
    filter: brightness(110%);
    transition: 0.15s;
  }
}

.display_basic {
  padding: 8px 14px;
}

.display_pill {
  padding: 0.3em 0.4em;
}

.display_block {
  padding: 10px 25px;
  width: 100%;
}

.rounded {
  border-radius: 10000px;
}
