@import 'src/constants';

.button {
  border: none;
  cursor: pointer;
  border-radius: 0.25em;
  transition: 0.2s;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not([disabled]) {
    filter: brightness(120%);
    transform: translateY(-1px);
    transition: 0.2s;
    box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.1);
  }
}

.button_basic {
  background-color: white;
}

.button_samf {
  background-color: $red-samf;
  color: white;
}

.button_darksamf {
  background-color: $dark-red-samf;
  color: white;
}


.button_success {
  background-color: $green;
  color: white;
}

.button_blue {
  background-color: $blue;
  color: white;
}

.button_secondary {
  border: none;
  padding: 10px 25px;
  background-color: $grey-3;
}

.button_outlined {
  background-color: transparent;
  border: 1px solid $grey-1;
  color: black;
  &:hover:not([disabled]) {
    border-color: $red-samf;
    color: $red-samf;
  }
}

.display_basic {
  padding: 10px 25px;
}

.display_pill {
  padding: 0.2em 0.4em;
}

.display_block {
  padding: 10px 25px;
  width: 100%;
}
