@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  @mixin for-tablet-only {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.textcontainer {
  flex: 5;
}

.otherposition {
  flex: 1;
  padding: 2em;
}

.header {
  font-weight: 700;
  font-size: 2em;
}

.subheader {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.text {
  margin-bottom: 2em;
}

.formContainer {
  background-color: $red-samf;
}

.formLabel {
  margin-bottom: 0.5em;
}

.rowHeader {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-left: 2em;
}

.image {
  width: auto;
  height: 2em;
  margin: 0;
}
