@use 'src/constants' as *;

@use 'src/mixins' as *;

.inputTime_wrap {
  border-radius: 0.375rem;
  border: 1px solid $grey-35;
  box-shadow: 0 1px 2px 0 $black-t10;

  @include theme-dark {
    border-color: $grey-2;
  }
}

.inputTime_wrap:focus-within {
  border-color: $grey-1;
  box-shadow: 0 0 0 1px $grey-1;
  outline: none;

  @include theme-dark {
    border-color: $grey-35;
    box-shadow: 0 0 0 1px $grey-35;
  }
}

.inputTime {
  display: flex;
  align-items: left;
}

.number {
  width: 2em;
  height: 1.5em;
  box-sizing: border-box;
  padding: auto 5px;
  text-align: center;
  border: none;
  background-color: transparent;

  @include theme-dark {
    color: $white;
  }
}

/* Chrome, Safari, Edge, Opera */
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  appearance: none;
}

/* Firefox */
.number[type='number'] {
  -moz-appearance: textfield;
}

.inputTime,
.number {
  border-radius: 8px;
  font-size: 1em;
}

.number:focus {
  outline: 3px hidden var(--active);
}

.number:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.error {
  color: $red;
}

.errorMessage {
  font-size: 0.8em;
  color: $red;
}
