@use 'src/mixins' as *;
@use 'src/constants' as *;

.noMargin {
  margin: 0;
}

.tooltip {
  width: 10em;
  background-color: rgba($grey-1, 0.97);
  color: $white;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.25em;
  position: absolute;
  z-index: 1;

  @include theme-dark {
    background-color: rgba($grey-5, 0.97);
    color: $black;
  }
}

.hidden {
  display: none;
}
