// Colors:
// When adding new colors, types.ts must be updated to reflect all colors
$red-samf: #a03033;
$red-samf-faded: #fac7c8;
$blue: #337ab7;
$blue-deep: #1a3b80;
$blue-lighter: #e3f2ff;
$blue-light: #c4dbf3;
$blue-medium: #88b3e0;
$blue-deep: #1a3b80;
$blue-deeper: #062356;
$turquoise-light: #e2f8f5;
$turquoise-medium: #9fe9dc;
$turquoise: #5accb9;
$turquoise-deep: #288474;
$white: #ffffff;
$black: #000000;
$grey-5: #f4f4f4;
$grey-4: #eeeeee;
$grey-3: #999999;
$grey-2: #777777;
$grey-1: #555555;
$grey-0: #444444;
$green: #4ab74c;
$green-lighter: #f6ffed;
$green-light: #b7eb8f;
$orange-ligher: #fffbe6;
$orange-light: #ffe99e;
$red-lighter: #fff2f0;
$red-light: #ffcfca;
$red: #dc1010a0;
$sulten-orange: #fbb042;

// Transparent colors
$black-t90: rgba(0, 0, 0, 0.9);
$black-t75: rgba(0, 0, 0, 0.75);
$black-t50: rgba(0, 0, 0, 0.5);
$black-t25: rgba(0, 0, 0, 0.25);
$black-t10: rgba(0, 0, 0, 0.1);

// Theme colors:
$theme-light-bg: #f5f5f5;

$theme-dark-bg: #111111;
$theme-dark-color: #dddddd;
$theme-dark-input-bg: #404040;
$theme-dark-input-bg-disabled: #7b7b7b;

// Defaults
$background-primary: #ffffff;
$background-secondary: #efefef;

/* Screen sizes, breakpoint (bp) */
$large-desktop-bp-lower: 1201px;
$desktop-bp-upper: 1200px;
$desktop-bp-lower: 993px;
$tablet-bp-upper: 992px;
$tablet-bp-lower: 769px;
$mobile-bp-upper: 768px;
$content-max-size: 1200px;

// Navbar size
$navbar-height: 60px;

// Content size
$primary-content-width: 1000px;
$primary-content-padding: calc((100vw - 1000px) / 2);

$primary-content-wide-padding: 2.5em;
$primary-content-width-wide: calc(100vw - 5em);

$primary-content-mobile-padding: 1em;
$primary-content-width-mobile: calc(100vw - 2em);
