// Colors:
$red-samf: #a03033;

$blue-lighter: #e3f2ff;
$blue-light: #c4dbf3;
$blue-medium: #88b3e0;
$blue-deep: #1a3b80;
$blue-deeper: #062356;
$turquoise-light: #e2f8f5;
$turquoise-medium: #9fe9dc;
$turquoise: #5accb9;
$turquoise-deep: #288474;
$white: #ffffff;
$grey-5: #f4f4f4;
$grey-4: #eeeeee;
$grey-3: #dddddd;
$grey-2: #cccccc;
$grey-1: #767676;
$grey-0: #444444;
