/* Screen sizes, breakpoint (bp) */
$large-desktop-bp-lower: 1201px;
$desktop-bp-upper: 1200px;
$desktop-bp-lower: 993px;
$tablet-bp-upper: 992px;
$tablet-bp-lower: 769px;
$mobile-bp-upper: 768px;
$content-max-size: 1200px;
$content-padding: calc((100vw - 1200px) / 2);

// Navbar size
$navbar-height: 60px;
$sulten-navbar-height: 100px;

// Content size
$primary-content-wide-padding: 2.5rem;
$primary-content-width-wide: 1500px;
$primary-content-width-wide-padded: calc(100vw - $primary-content-wide-padding * 2);

$primary-content-mobile-padding: 1em;
$primary-content-width-mobile: calc(100vw - 2em);

$theme-key: 'data-theme'; // Must match THEME_KEY
$theme-dark: 'theme-dark'; // Must match THEME.DARK
$theme-light: 'theme-light'; // Must match THEM.LIGHT

//Lyche
$lyche-title-font: 'LemonMilkLight', sans-serif;
$lyche-primary-font: 'Lora', sans-serif;

//Assets
$lyche-menu-divider-left: url('~/assets/lyche/menu-detail-left.png');
$lyche-menu-divider-right: url('~/assets/lyche/menu-detail-right.png');
