@use 'sass:color';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import 'constants';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import 'mixins';

/* stylelint-disable selector-max-type */
/* stylelint-disable selector-max-universal */

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Reset all elements. More predictable and easier to set manually.
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

b,
strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

// Make media responsive.
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.iconify {
  max-width: initial;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: $theme-light-bg;

  // Disable scrolling when mobile navbar is open.
  &.mobile-navigation-open {
    overflow: hidden;
  }

  // See constants MIRROR_CLASS.
  &.mirror-dimension {
    transform: scaleX(-1);
  }
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-left: 0.2em;
  color: $black;
}

// Themes:
// Use names from constant THEME.

// THEME.DARK
[#{$theme-key}='#{$theme-dark}'] {
  background-color: $theme-dark-bg;
  color: $theme-dark-color;

  form {
    background-color: $form-bg-dark;
    border: 1px solid $form-border-dark;
  }

  label {
    color: $white;
  }

  input,
  textarea {
    background-color: $theme-dark-input-bg;
    color: inherit;
    &:focus {
      outline-color: $grey-1;
    }
    &:disabled {
      background-color: $theme-dark-input-bg-disabled;
    }
  }

  .button_outlined {
    color: $white;
  }

  pre {
    color: $grey-3;
    /* stylelint-disable-next-line function-no-unknown */
    background-color: color.adjust($theme-dark-bg, $lightness: -2%);
    border: 1px solid $grey-1;
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

// End: Themes --------------------------------------------------------------------------------------------------------

/*
fieldset {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: none;
}

legend {
  margin-left: 1em;
}

label {
  font-weight: bold;
  color: $grey-1;
}

input[type=text], textarea {
  @include rounded;
  padding: 1em 1em;
  border: 1px solid transparent;
  outline: none;
  

  &:focus {
    outline: none;
    border: 1px solid $blue;
    background-color: $blue-lighter;
  }
}
*/

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  animation: dot 1s linear forwards;
}

@keyframes dot {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
