@use 'sass:color';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import 'constants';

/* stylelint-disable selector-max-type */
/* stylelint-disable selector-max-universal */

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Reset all elements. More predictable and easier to set manually.
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

// Make media responsive.
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.iconify {
  max-width: initial;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: $white;

  // Disable scrolling when mobile navbar is open
  &.mobile-navigation-open {
    overflow: hidden;
  }
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

// Themes:
// Use names from constant THEME.

// THEME.DARK
.theme-dark {
  background-color: $theme-dark-bg;
  color: $theme-dark-color;

  input,
  textarea {
    background-color: $theme-dark-input-bg;
    color: inherit;
    &:focus {
      outline-color: $grey-1;
    }
    &:disabled {
      background-color: $theme-dark-input-bg-disabled;
    }
  }

  .button_outlined {
    color: $white;
  }

  pre {
    color: $grey-3;
    /* stylelint-disable-next-line function-no-unknown */
    background-color: color.adjust($theme-dark-bg, $lightness: -2%);
    border: 1px solid $grey-1;
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

// End: Themes --------------------------------------------------------------------------------------------------------
