@import 'src/constants';

@import 'src/mixins';

.container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  min-width: 100%;
  min-height: calc(100vh - 200px);
  z-index: 10;
  padding: calc($sulten-navbar-height);
  @include for-mobile-down {
    flex-direction: column;
    padding: 0%;
    padding: calc($sulten-navbar-height);
  }
}

.content {
  background-color: black;
  flex: 1;
  max-width: $content-max-size;
  width: 100vw;
  padding: 0 0.5em;
  z-index: 10;
  @include for-mobile-down {
    flex-direction: column;
    padding: 0 1em;
  }
}

// TODO ADD MOBILE PADDING?
