@use '../../constants' as c;

@use '../../mixins' as m;

@use '../../styles/colors' as col;

.container {
  position: relative;
  width: 260px;
}

.button {
  @include m.base-input;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  &:not(:disabled):hover {
    background: col.$gray-50;

    @include m.theme-dark {
      background: col.$black-600;
    }
  }
}

.popover {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 4px;
  padding: 0.25rem;
  background: col.$white-50;
  border-radius: 0.5rem;
  z-index: 100;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid col.$gray-200;

  @include m.theme-dark {
    background: col.$black-800;
    border-color: col.$gray-800;
  }
}

.hidden {
  display: none;
}
