@use 'sass:color';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import 'src/constants';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import 'src/mixins';

.container {
  position: relative;
  width: 260px;
}

.button {
  @include rounded-lighter;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  font-size: 0.875rem;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  color: $black;
  cursor: pointer;
  margin-top: 0.5em; // Make sure this is the same for all inputs that should be used together
  border: 1px solid $grey-35;
  background-color: $white;
  font-weight: initial;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $grey-4;
  }

  &:focus {
    border-color: $grey-3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.1);
  }

  @include theme-dark {
    background-color: $theme-dark-input-bg;
    color: white;
    border-color: $grey-0;
    &:focus {
      border-color: $grey-1;
      outline: 1px solid rgba(255, 255, 255, 0.6);
    }
    &:hover {
      background-color: color.scale($theme-dark-input-bg, $lightness: 8%);
    }
  }
}

.popover {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 4px;
  padding: 0.25rem;
  background: $white;
  border-radius: 0.5rem;
  z-index: 100;
  //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  //box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  border: 1px solid $grey-35;

  @include theme-dark {
    background: $black-1;
    border-color: $grey-0;
  }
}

.hidden {
  display: none;
}
