@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  padding-bottom: 0.4em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.block {
  flex:1;
  width: 100%;
}

.label {
  color: $white;
}

.help_text {
  color: $grey-1;
  font-size: 0.75em;
  font-style: italic;
  text-align: start;
  padding: 0.2em;
  width: 100%;
}

.underline {
  border-bottom: $sulten-orange solid 1px;
  margin-bottom: 0.7em;
}
