
@import 'src/constants';

@import 'src/mixins';

.reservationContainer {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  background-color: $blue;
  cursor: pointer;
  &:hover { 
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);

  }
  &:active { 
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
}

.reservationName {
  text-align: center;
  color: $white;
  font-size: 0.8em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.moreInfo {
  color: $red-samf;
  background-color: $white;
}

.hidden {
  display: none;
}
