@import 'src/constants';

@import 'src/mixins';
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  appearance: none;
}

/* Firefox */
.number[type='number'] {
  -moz-appearance: textfield;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.background {
  border-radius: 0.4em;
  background-color: $grey-4;
  padding: 0.1em 0.5em;
  margin-bottom: 0.4em;
  @include theme-dark {
    background-color: $black-t50;
  }
}
