@import 'src/mixins';

@import 'src/constants';

.wrapper {
  margin: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px $black-t10;
  overflow: hidden;
  overflow-y: scroll;
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 1em;
  @include for-tablet-up {
    flex-direction: row;
  }
}
