@import '../../../../constants';

@import '../../../../mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.video {
  padding-bottom: 0;
  aspect-ratio: 16/9;
}

.type_header {
  width: 100%;
}

.gang_header {
  background-color: $red_samf;
  color: white;
  font-size: 17px;
  font-weight: 400;
  @include theme-dark{
    background-color: #590000;
  }
}

.gang_header:hover{
  background-color: $red_samf_hover;
  @include theme-dark{
    background-color: #400000;
  }
}

.position_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $white;
  color: $black;
  border-top: 1px solid $grey-5;
  @include theme-dark{
    background-color: transparent;
    border-top: 1px solid #300e10;
  }
}

.position_item:hover{
  background-color: $grey-5;
  @include theme-dark{
    background-color: #300e10;
  }
}

.position_name {
  flex: 1;
  color: black;
  padding: 1em;
  font-weight: 400;
  @include theme-dark{
    color: white;
  }
}

.position_name:hover {
  text-decoration: none;
}

.position_short_desc{
  flex: 1;
  color: $black;
  padding: 1em;
  @include theme-dark{
    color: $grey-4;
  }
}

.position_short_desc:hover{
  text-decoration: none;
}

