@import 'src/constants';

.alert {
  border-radius: 5px;
  margin: 1em;
  padding: 0 1em 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-size: large;
}

.closeButton {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 1em;
  border-radius: 25%;
  height: 2em;
  width: 2em;
  box-shadow: none;
}

.center {
  text-align: center;
  flex-basis: 100%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  flex-basis: 100%;
}

.rightWrapper {
  flex-direction: row-reverse;
}

.offset {
  margin-left: 2em;
}

.info {
  background-color: $blue-lighter;
  border: 1px solid $blue-light;
}

.success {
  background-color: $green-lighter;
  border: 1px solid $green-light;
}

.warning {
  background-color: $orange-ligher;
  border: 1px solid $orange-light;
}

.error {
  background-color: $red-lighter;
  border: 1px solid $red-light;
}

.samf {
  background-color: $red-samf;
  border: 1px solid $red-samf;
  color: $white;
  .closeButton {
    color: $white;
  }
}
