@import 'src/constants';

@import 'src/mixins';

.container {
  margin: 2rem;
  @include flex-column-center;
  gap: 2rem;
}

.organizationHeader{
  width: 40vw;
  min-width: fit-content;
  color: white;
  padding: 1rem;
  border-radius: 0.15rem;
  @include flex-row;
  gap: 5rem;
  @include for-tablet-down{
    width: 80vw;
  }
}

.video {
  width: 40vw;
  aspect-ratio: 16 / 9;
  border-width: 0;
  @include for-tablet-down{
    width: 80vw;
  }
}

.basicRecruitment{
  width: 40vw;
  min-width: fit-content;
  color: black;
  padding: 1rem;
  border-radius: 0.15rem;
  @include flex-row-center;
  gap: 5rem;
  @include for-tablet-down{
    width: 80vw;
  }
}

.samfRecruitment{
  @extend .basicRecruitment;
  color: white;
  background-color: $red-samf;
}

.ukaRecruitment{
  @extend .samfRecruitment;
  background-color: $blue-uka;
}

.isfitRecruitment{
  @extend .samfRecruitment;
  background-color: $blue-isfit;
}

.openPositionsContainer {
  @include  flex-column-center;
  gap: 2rem;
}



