@import 'src/constants';

@import 'src/mixins';

.container {
  @include flex-row;
  background-color: $black;
  border-radius: 0.5em;
  gap: 1em;

  @include for-mobile-down {
    @include flex-column;
    padding-bottom: 2em;
  }
}

.smallcard_container {
  @include flex-row-center;
  background-color: $black;
  border-radius: 0.5em;
  gap: 1em;

  @include for-mobile-down {
    @include flex-column;
  }
}

.card_image {
  height: 30em;
  object-position: top;
  object-fit: cover;
  width: 50%;
  flex: 1;
  display: inline-block;
  border-radius: 0.5em;

  @include for-mobile-down {
    width: 100%;
    display: block;
    max-height: 15em;
  }
}

.smallcard_image {
  height: 15em;
  width: 25%;
  display: inline-block;
  flex: 1;
  border-radius: 0.5em;
  object-position: top;
  object-fit: cover;

  @include for-mobile-down {
    width: 100%;
    max-height: 10em;
    display: block;
    object-position: center;
  }
}

.text_container {
  @include flex-column-center;
  flex: 1;
  text-align: center;

  @include for-mobile-down {
    width: 100%;
  }
}

.card_header {
  color: $white;
  font-size: 1.5rem;
  display: block;
}

.card_text {
  color: $grey-3;
}

.card_button {
  width: fit-content;
  margin: 1.5em;
}
