/* stylelint-disable declaration-no-important */
@import 'src/constants';

@import 'src/mixins';

.container {
  display: flex;
  background-color: $black;
  @include for-mobile-down {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-bottom: 2em;
  }
}

.card_image {
  width: 50%;
  display: inline-block;
  border-radius: 0.5em;
  object-fit: cover;
  @include for-mobile-down {
    width: 100%;
    display: block;
  }
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 50%;
  padding: 0 1.5rem;
  @include for-mobile-down {
    width: 100%;
    padding: 0;
  }
}

.card_header {
  color: $white;
  font-size: 1.5rem;
}

.card_text {
  color: $grey-3;
}

.card_button {
  width: fit-content;
}
