@import 'src/mixins';

@import 'src/constants';

.row {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.5rem 1.5rem;

  @include for-tablet-up {
    flex-direction: row;
  }
}

.form_item {
  flex-grow: 1;
}

.action_row {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}
