
@import 'src/constants';

@import 'src/mixins';


.container {
  @include flex-row-center;
  gap: .5em;
}

.image_title {
  font-size: 1.25em;
  font-weight: 700;
}

.selected_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.selected {
  @include rounded;
  @include flex-row-center;
  flex-direction: column;
  min-width: 20em;
  min-height: 8em;
  border: 3px solid black;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.image_container {
  max-height: 25em;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5em;
  margin: 0 auto;
}

.image {
  @include rounded;
  @include shadow-light;
  width: 10em;
  height: 8em;
  background-color: $grey-1;
  background-size: cover;
  background-position: center;
  border: 3px solid transparent;
  transition: .2s;
  transform: scale(0.9);
  cursor: pointer;

  &:hover {
    filter: brightness(110%);
  }

  &.selected_image {
    box-shadow: 0 0 25px 5px rgba(143, 181, 238, 0.625);
    border: 3px solid $blue;
    transform: scale(1);
  }
}
