@use 'src/constants' as *;

@use 'src/mixins' as *;

.container {
  @include flex-row-center;
  justify-content: space-evenly;
  gap: 0.5em;
}

.image_title {
  font-size: 1.25em;
  font-weight: 700;
}

.selected_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.selected {
  @include rounded;
  @include flex-row-center;
  flex-direction: column;
  min-width: 20em;
  min-height: 8em;
  border: 3px solid black;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.image_container {
  max-height: 25em;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 0.5em;
  width: 100%;
  align-content: start;
  padding-right: 0.25rem;
}

.image_box {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 5 / 4;
  box-sizing: border-box;
  background-color: $grey-1;
  transform: scale(0.9);
}

.search_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.error {
  margin-top: 1rem;
}