@use 'src/constants' as *;

@use 'src/mixins' as *;

.container {
  @include flex-row-center;
  justify-content: space-evenly;
  gap: 0.5em;
}

.image_title {
  font-size: 1.25em;
  font-weight: 700;
}

.selected_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.selected {
  @include rounded;
  @include flex-row-center;
  flex-direction: column;
  min-width: 20em;
  min-height: 8em;
  border: 3px solid black;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.image_container {
  max-height: 25em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;

  @include for-tablet-up {
    flex-direction: row;
  }
}

.image_box {
  overflow: hidden;
  flex-basis: calc(25% - 1em);
  min-height: 12em;
  height: 12em;
  box-sizing: inherit;

  @include for-tablet-down {
    flex-basis: calc(33.33% - 1em);
  }
}

.image_box_selected {
  border: none;
}

.search_wrapper {
  display: flex;
  flex-direction: column;
}

.pagination_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
