name: 'Chromatic'

env:
  NODE_OPTIONS: --openssl-legacy-provider

# https://github.com/reviewdog/action-eslint/issues/29#issuecomment-985939887
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  chromatic-deployment:
    if: ${{ !github.event.pull_request.draft }}
    # https://www.chromatic.com/docs/github-actions
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: yarn

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          workingDir: frontend
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
