name: Verify

on: [push, workflow_dispatch]

# Prevent multiple workflows with same branch/pull_request.
concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  job_verify_tests:
    name: Verify tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    env:
      PIPENV_VENV_IN_PROJECT: 1
      ENV: development
      SECRET_KEY: NOT SET
      DJANGO_SETTINGS_MODULE: root.settings
      DJANGO_SUPERUSER_USERNAME: admin
      DJANGO_SUPERUSER_PASSWORD: Django123
      DJANGO_SUPERUSER_EMAIL: admin@example.com

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.5'

      - name: Install dependencies
        run: |
          python -V
          PY=$(which python)
          echo $PY
          python -m pip install --upgrade pip
          python -m pip install pipenv
          python -m pipenv install --deploy --python $PY

      - name: Run pylint
        run: python -m pipenv run ./run-pylint.sh

      - name: Check yapf
        run: python -m pipenv run yapf --parallel --recursive --diff .

      - name: Verify migrations
        run: |
          python -m pipenv run python manage.py makemigrations --check --dry-run
          python -m pipenv run python manage.py migrate

      - name: Run tests
        run: python -m pipenv run pytest

      - name: Run bandit
        run: python -m pipenv run bandit --recursive --ini .bandit .

      - name: Run flake8
        run: python -m pipenv run flake8 --config .flake8 .

      - name: Run mypy
        run: python -m pipenv run mypy --config-file mypy.ini .

  job_verify_docker:
    name: Verify docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup environment
        run: |
          touch backend/.docker.env
          echo ENV=development >> backend/.docker.env
          echo SECRET_KEY=NOT_SET >> backend/.docker.env
          echo DJANGO_SETTINGS_MODULE=root.settings >> backend/.docker.env

      - name: Build images
        run: docker compose build

      - name: Start containers
        run: docker compose up -d; sleep 10 # Give additional seconds to boot.

      - name: Check running containers
        # Will fail if container isn't running.
        run: |
          docker compose exec backend echo 
          docker compose exec frontend echo

      - name: Stop containers
        run: docker compose down

  job_verify_cypress:
    # https://github.com/marketplace/actions/cypress-io
    name: Verify Cypress
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run cypress
        uses: cypress-io/github-action@v4.2.0
        with:
          working-directory: ./frontend
          browser: chrome
          build: yarn run build
          start: yarn start

  job_eslint:
   eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: stefanoeb/eslint-action@1.0.2
