@import 'src/constants';

.wrapper {
  position: relative; // Needed in order to position the badge.
  cursor: pointer;
}

.badge {
  bottom: 12px;
  left: 14px;
  border-radius: 1000px;
  background-color: red;
  padding: 0 5px;
  min-width: 1.2em;
  position: absolute;
  color: $white;
}

.icon {
  &:hover {
    scale: 1.1;
  }
}
